h1, h2, h3, h4, h5, h6{
    color: #395371;
}
/* rect1 */
.rect1-card {
    margin: 20px 20px 20px 0;
}
.rect1-img {
    width: 80px;
    margin: 20px 30px 20px 0;
}
.rect1-right{
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('/assets/img/home_page/splash_2.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 30px;
    margin: 0;
    width: 100%;
}

/* newsletter */
.newsletter{
    padding: 20px;
    margin: 30px 0;
    background: rgba(168, 201, 239, 0.62);
}
.newsletter h5 {
    margin:0;
    padding:0;
}
.newsletter input {
    width: 300px;
}

/* courses */
.courses {
    margin: 30px 0;
    padding: 30px 0;
    background-color: #ccc;
}

/* mentors */
.mentor-img img {
    width: 150px;
    
    border-radius: 50%;
}