  <div class="parallax-mirror" style="visibility: visible; z-index: -100; position: fixed; top: 0px; left: 0px; overflow: hidden; transform: translate3d(0px, 0px, 0px); height: 850px; width: 1328px;"><img
      class="parallax-slider" src="/assets/img/splash_2.jpg" style="transform: translate3d(0px, 0px, 0px); position: absolute; top: -207px; left: 0px; height: 885px; width: 1328px; max-width: none;"></div>
  <div id="wrapper">
    <section id="splash_section">
      <div class="parallax_block">
        <div class="upper_parallax parallax-window" data-parallax="scroll" data-image-src="/assets/images/splash_2.jpg"></div>
        <!-- <div class="upper_parallax" data-parallax="scroll""></div> -->
      </div>
      <div class="container">
        <div class="title_container">
          <div class="content">
            <!-- <h2>We are the catalyst that we have been waiting for:</h2> -->

            <h1>Join us in transforming our veterinary ecosystem</h1>
          </div>
          <ul class="offers_list">
            <li class="offers_item">
              <i class="fas fa-certificate"></i>
              <p>Free CE courses</p>
            </li>
            <li class="offers_item">
              <i class="fas fa-user-md"></i>
              <p>Mentorship from industry experts</p>
            </li>
            <li class="offers_item">
              <i class="fas fa-laptop"></i>
              <!-- <p>Online resources for you day to day needs</p> -->
              <p>Online resources for your day-to-day needs</p>
            </li>
          </ul>
          <div class="btn_container">
            <a href="javascript:void(0)" class="btn" data-toggle="modal" data-target="#request_invite_modal">Sign up</a>
            <a href="https://www.youtube.com/embed/nW9XNDAplkw?autoplay=1" class="learn_more_btn">
              <i class="fas fa-play"></i>
            </a>
          </div>
        </div>
        <div class="mobile_title_container">
          <div class="content">
            <h1>Join us in transforming the veterinary ecosystem</h1>
          </div>
          <ul class="offers_list">
            <li class="offers_item">
              <i class="fas fa-certificate"></i>
              <p>Free courses</p>
            </li>
            <li class="offers_item">
              <i class="fas fa-user-md"></i>
              <p>Mentorship</p>
            </li>
            <li class="offers_item">
              <i class="fas fa-laptop"></i>
              <p>Online resources</p>
            </li>
          </ul>
          <div class="btn_container">
            <a href="javascript:void(0)" class="btn" data-toggle="modal" data-target="#request_invite_modal">Sign up</a>
            <a href="https://www.youtube.com/embed/nW9XNDAplkw?autoplay=1" class="learn_more_btn">
              <i class="fas fa-play"></i>
            </a>
          </div>
        </div>

      </div>
    </section>
    <div id="mission">
      <section id="overview">
        <ul class="container what_mightyvet_section_list">
          <li class="what_mightyvet_section_item">
            <h3>What's MightyVet?</h3>
            <p>We seek to bridge the gap in veterinary education by ensuring veterinarians are informed of and prepared
              for the challenges they will face in practice. We will do this through an industry-wide platform to
              support veterinary professionals in their career and well-being.</p>
          </li>
          <li class="what_mightyvet_section_item featured_block">
            <h4>OUR PARTNERS</h4>
            <ul id="featured_partners_list" class="feature_list">
              <!-- 
						 -->
              <li class="feature_item_tier_1">
                <a href="https://www.nomv.org/" target="_blank">
                  <img src="/assets/img/partner_logo/nom_logo.png" class="tier_1" alt="">
                </a>
              </li>
              <li class="feature_item_tier_1">
                <a href="https://www.vetmedteam.com/home.aspx" target="_blank">
                  <img src="/assets/img/partner_logo/vetmedteam_logo.png" class="tier_1" alt="">
                </a>
              </li>
              <li class="feature_item_tier_1">
                <a href="https://trupanion.com/" target="_blank">
                  <img src="/assets/img/partner_logo/trupanion_logo.png" class="tier_1" alt="">
                </a>
              </li>
              <li class="feature_item_tier_1">
                <a href="http://bhcteam.com/" target="_blank">
                  <img src="/assets/img/partner_logo/blue_heron_consulting_logo.png" class="tier_1" alt="">
                </a>
              </li>
              <li class="feature_item_tier_1">
                <a href="https://veteos.com/" target="_blank">
                  <img src="/assets/img/partner_logo/veteos.png" class="tier_1" alt="">
                </a>
              </li>
              <li class="feature_item_tier_1">
                <a href="http://www.covetrus.com/home" target="_blank">
                  <img src="/assets/img/partner_logo/covetrus_logo.png" class="tier_1" alt="">
                </a>
              </li>
              <li class="feature_item_tier_2">
                <a href="https://www.wvc.org/" target="_blank">
                  <img src="/assets/img/partner_logo/wvc_logo.png" class="tier_2" alt="">
                </a>
              </li>
              <li class="feature_item_tier_2">
                <a href="http://1lifecc.com/" target="_blank">
                  <img src="/assets/img/partner_logo/one_life_connected.png" class="tier_2" alt="">
                </a>
              </li>
              <br>
              <li class="feature_item_tier_3">
                <a href="http://www.aavmc.org/" target="_blank">
                  <img src="/assets/img/partner_logo/aavmc_logo.png" class="tier_3" alt="">
                </a>
              </li>
              <li class="feature_item_tier_3">
                <a href="http://waggle.org/" target="_blank">
                  <img src="/assets/img/partner_logo/waggle_logo.png" class="tier_3" alt="">
                </a>
              </li>
              <li class="feature_item_tier_3">
                <a href="https://petcube.com" target="_blank">
                  <img src="/assets/img/partner_logo/petcube_logo.png" class="tier_3" alt="">
                </a>
              </li>
              <li class="feature_item_tier_3">
                <a href="https://vgpvet.com/" target="_blank">
                  <img src="/assets/img/partner_logo/veterinary_logo.png" class="tier_3" alt="">
                </a>
              </li>
              <li class="feature_item_tier_3">
                <a href="http://www.ignitevet.com/" target="_blank">
                  <img src="/assets/img/partner_logo/ignite_logo.png" class="tier_3" alt="">
                </a>
              </li>
              <li class="feature_item_tier_3">
                <a href="http://pathwayvets.com/" target="_blank">
                  <img src="/assets/img/partner_logo/pathway_logo.png" class="tier_3" alt="">
                </a>
              </li>
              <li class="feature_item_tier_3">
                <a href="" target="_blank">
                  <img src="/assets/img/partner_logo/psi.png" class="tier_3" alt="">
                </a>
              </li>
              <li class="feature_item_tier_3">
                <a href="" target="_blank">
                  <img src="/assets/img/partner_logo/bluepearl.png" class="tier_3" alt="">
                </a>
              </li>
              <li class="feature_item_tier_3">
                <a href="https://petpartners.org/" target="_blank">
                  <img src="/assets/img/partner_logo/pet_partners_logo.png" class="tier_3" alt="">
                </a>
              </li>
              <li class="feature_item_tier_3">
                <a href="" target="_blank">
                  <img src="/assets/img/partner_logo/vmg.png" class="tier_3" alt="">
                </a>
              </li>
              <li class="feature_item_tier_3">
                <a href="" target="_blank">
                  <img src="/assets/img/partner_logo/vca.png" class="tier_3" alt="">
                </a>
              </li>
              <li class="feature_item_tier_3">
                <a href="" target="_blank">
                  <img src="/assets/img/partner_logo/amerivet.png" class="tier_3" alt="">
                </a>
              </li>
              <li class="feature_item_tier_3">
                <a href="" target="_blank">
                  <img src="/assets/img/partner_logo/patterson.png" class="tier_3" alt="">
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </section>
    </div>

    <section id="courses">
      <div id="weekly_webinar_container">
        <!-- <h3>What MightyVet is offering?</h3> -->
        <div class="container">
          <div class="left_container">
            <h3>Continuing Education Courses </h3>
            <p>We offer a variety of free Continuing Education courses with well-respected industry leaders focusing on
              the challenges and opportunities faced by those drawn to be part of the most compassionate and trusted
              profession in the world.</p>
          </div>
          <div class="right_container">
            <!-- Swiper -->
            <span>FEATURED COURSES</span>
            <div class="prev_swipper_btn swiper-button-disabled">
              <i class="fas fa-chevron-left"></i>
            </div>
            <div class="next_swipper_btn">
              <i class="fas fa-chevron-right"></i>
            </div>
            <div id="mighty_vet_offering_swipper_container" class="swiper-container swiper-container-horizontal" style="cursor: grab;">
              <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
                <div class="swiper-slide swiper-slide-active">
                  <img src="/assets/images/courses/tinified/StrongBroderWebinarImage.png" alt="course-icon" class="course_image_url">
                  <div class="content">
                    <h5 class="title title_0">Veterinary Self-Worth &amp; the Psychology of Money</h5>
                    <h6 class="instructor">Dr. Laura Strong, DVM and Dr. Sally Broder, Phy.D</h6>
                    <p class="excerpt excerpt_0">Recognizing and embracing your self-worth is core to your success as a
                      veterinarian. However, many veterinary professionals find it difficult to confidently communicate
                      the value they provide to their clients.</p>
                    <a href="https://webinar-portal.net/webinars/vmt/registration_190307.php" target="_blank" class="btn enroll_today_btn course_link">Get
                      started</a>
                  </div>
                </div>
                <div class="swiper-slide swiper-slide-next">
                  <img src="/assets/images/courses/tinified/Culture_of_Sacrifice.png" alt="course-icon" class="course_image_url">
                  <div class="content">
                    <h5 class="title title_1">Changing the Culture of Veterinary Sacrifice</h5>
                    <h6 class="instructor">Drs. Bob Lester &amp; Jennifer Bruns</h6>
                    <p class="excerpt excerpt_1">Veterinarians live in an 'always on' culture, which can be
                      overwhelming and stressful. Join us as we challenge this cultural norm and offer practical ways
                      to maintain a healthy work/life balance.</p>
                    <a href="https://webinar-portal.net/webinars/vmt/registration_181218.php" target="_blank" class="btn enroll_today_btn course_link">Get
                      started</a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <img src="/assets/images/courses/tinified/Lead_More_Stress_Less.jpg" alt="course-icon" class="course_image_url">
                  <div class="content">
                    <h5 class="title title_2">Lead More, Stress Less – Yes Really!</h5>
                    <h6 class="instructor">Stith Keiser</h6>
                    <p class="excerpt excerpt_2">Learn strategies for building leadership skills whether you are in a
                      current leadership position or anticipating a future leadership role. 1 Credit Hour</p>
                    <a href="https://www.vetmedteam.com/classes-free.aspx" target="_blank" class="btn enroll_today_btn course_link">Get
                      started</a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <img src="/assets/images/courses/tinified/Confronting_the_Stigma_of_Suicide.png" alt="course-icon"
                    class="course_image_url">
                  <div class="content">
                    <h5 class="title title_3">Confronting the Stigma of Suicide</h5>
                    <h6 class="instructor">Dr. Nicole McArthur</h6>
                    <p class="excerpt excerpt_3">Suicide and mental health need to no longer be a hidden problem. Turn
                      the healing lens on yourself and your colleagues in this important presentation. 1 Credit Hour</p>
                    <a href="https://www.vetmedteam.com/class.aspx?ci=842" target="_blank" class="btn enroll_today_btn course_link">Get
                      started</a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <img src="/assets/images/courses/tinified/Starting_the_Journey.png" alt="course-icon" class="course_image_url">
                  <div class="content">
                    <h5 class="title title_4">Finding Your Authentic Sustainable Career in Veterinary Medicine</h5>
                    <h6 class="instructor">Dr. Kimberly Pope-Robinson</h6>
                    <p class="excerpt excerpt_4">Join us on an emotional journey to help provide clarity on the
                      unspoken struggle of finding career contentment within the veterinary profession. Explore the
                      concepts of creating your own path, and learning to recognize the emotional barriers present for
                      each of us. 1 Credit Hour</p>
                    <a href="https://www.vetmedteam.com/class.aspx?ci=798" target="_blank" class="btn enroll_today_btn course_link">Get
                      started</a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <img src="/assets/images/courses/tinified/Ethics_Exhaustion.png" alt="course-icon" class="course_image_url">
                  <div class="content">
                    <h5 class="title title_5">Ethics Exhaustion: When Your Sense of Right is Wronged</h5>
                    <h6 class="instructor">Dr. Sonnya Dennis</h6>
                    <p class="excerpt excerpt_5">Learn how ethics exhaustion is different from compassion fatigue and
                      how it affects you, as a person; and us, as a profession; no matter what role you plan on the
                      veterinary team. 1 Credit Hour</p>
                    <a href="https://www.vetmedteam.com/class.aspx?ci=800" target="_blank" class="btn enroll_today_btn course_link">Get
                      started</a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <img src="/assets/images/courses/tinified/CPR_for_the_Veterinary_Soul.png" alt="course-icon" class="course_image_url">
                  <div class="content">
                    <h5 class="title title_6">CPR for the Veterinary Soul</h5>
                    <h6 class="instructor">Dr. Carrie Jurney and Dr. Nicole McArthur</h6>
                    <p class="excerpt excerpt_6">One in six veterinarians considers suicide at some point in their
                      career. Research shows that veterinarians have elevated rates of anxiety, alcohol abuse,
                      depression, and work stress. In this lecture we will ask the question: Is this career literally
                      killing us? 1 Credit Hour</p>
                    <a href="https://www.vetmedteam.com/class.aspx?ci=801" target="_blank" class="btn enroll_today_btn course_link">Get
                      started</a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <img src="/assets/images/courses/tinified/Costs_of_Care.png" alt="course-icon" class="course_image_url">
                  <div class="content">
                    <h5 class="title title_7">Costs of Care and Economic Limitations</h5>
                    <h6 class="instructor">Dr. Barry Kipperman</h6>
                    <p class="excerpt excerpt_7">We will review the results of a study that indicates the profession
                      needs to take action at the educational and organizational levels to learn to proactively discuss
                      the cost of care with pet owners. 1 Credit Hour</p>
                    <a href="https://www.vetmedteam.com/class.aspx?ci=797" target="_blank" class="btn enroll_today_btn course_link">Get
                      started</a>
                  </div>
                </div>
                <div class="swiper-slide static_slide">
                  <img src="/assets/images/icon/new_course_card.png" alt="course-icon">
                  <div class="content">
                    <h5>Additional Courses Coming Soon.</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="mentors">
      <div class="container">
        <div class="mentor_description">
          <h3>Mighty Mentors</h3>
          <p>Rotating office hours will be held online with the deans of veterinary schools and other thought leaders
            from the veterinary industry. Ask questions of the veterinary community for a real-time feedback loop to
            evaluate your career options. To schedule office hours with one of our featured members, please email <a
              href="mailto:info@mightyvet.org">info@mightyvet.org</a>.</p>
        </div>
        <div class="education_team_container">
          <h5>FEATURED MENTORS</h5>
          <div id="featured_mentors_block" class="education_team_content">
            <ul class="education_team_list">
              <li class="education_team_item active">
                <img src="/assets/images/instructors/profile_steve.png" alt="Dr. Steve Weinrauch, BVMS, MRCVS">
                <div class="profile_block">
                  <h5>Dr. Steve Weinrauch, BVMS, MRCVS</h5>
                  <span>Founder, MightyVet</span>
                  <p>Dr. Steve is a great resource for those interested in a veterinary industry career outside of
                    practice. He is the founder of MightyVet, Co-Founder and Medical Director of 2nd Chance Rescue, and
                    Chief Veterinary Officer at Trupanion. He has published his research in numerous peer-reviewed
                    journals and is licensed to practice in both the USA and the European Union. His wife is also a
                    practicing veterinarian and both graduated from the Glasgow University School of Veterinary
                    Medicine in 2005.</p>
                </div>
              </li>
              <li class="education_team_item second">
                <img src="/assets/images/instructors/profile_kipperman.png" alt="Barry Kipperman, BVMS, MRCVS, MSc">
                <div class="profile_block">
                  <h5>Barry Kipperman, BVMS, MRCVS, MSc</h5>
                  <span>Veterinarian &amp; MightyVet Board President</span>
                  <p>Dr. Barry Kipperman, who will start out this program on moral stress. Dr. Kipperman grew up in New
                    York, and feels the TV show Seinfeld drew heavily from his own life experiences. He is board
                    certified in internal medicine and is staff internist and founder of a 24 hour referral/emergency
                    practice in the San Francisco Bay area. After 26 years in practice, Dr. Kipperman decided to devote
                    the remainder of his career to animal welfare and ethics. He received a masters degree in animal
                    welfare, ethics and law in 2017 from the University of Edinburgh, and is pursuing board
                    certification in animal welfare. He teaches veterinary ethics at the University of California at
                    Davis School of Veterinary Medicine, and animal welfare and ethics for the University of Missouri.
                    In additional to serving on the MightyVet board, Dr. Kipperman serves on the Board of Directors of
                    the Humane Society Veterinary Medical Association. His research interests include the influence of
                    economics on animal welfare and veterinarian well-being, and the ethical dilemmas and moral stress
                    faced by veterinarians.</p>
                </div>
              </li>
              <li class="education_team_item third">
                <img src="https://cvpco.com/wp-content/uploads/2018/11/Laura-Strong-DVM-Career-photo-edit-1.jpg" alt="Laura Strong, DVM, CCFP">
                <div class="profile_block">
                  <h5>Laura Strong, DVM, CCFP</h5>
                  <span>Director of University Relations, CVP &amp; MightyVet Board Vice President</span>
                  <p>Dr. Strong earned her degree from Ballermine University and her doctorate from Purdue University,
                    after which led her to directing and overseeing her own comprehensive veterinary hospital, a team
                    of six veterinarians, 30 staff members, and the wellbeing of thousands of pets and their families
                    for over 25 years. She has a passion for leadership and helping veterinarians balance the financial
                    wellbeing of a practice with the financial wellbeing of staff members, while also providing care to
                    potentially unlucky pets and clients.</p>
                </div>
              </li>
              <li class="education_team_item last">
                <img src="/assets/images/instructors/profile_sonnya.png" alt="Sonnya Dennis, DVM, DABVP">
                <div class="profile_block">
                  <h5>Sonnya Dennis, DVM, DABVP</h5>
                  <span>Practice Owner</span>
                  <p>Dr. Sonnya Dennis graduated from the Virginia-Maryland Regional College of Veterinary Medicine in
                    1995. Since 1996 she has been the owner and full-time veterinarian at Stratham-Newfields Veterinary
                    Hospital. Dr. Dennis is Board-Certified in Canine and Feline Practice with the American Board of
                    Veterinary Practitioners and is Chair of the AAHA Veterinary Informatics Committee &amp; Diagnostic
                    Terms Editorial Board. She is on the AAFP Hyperthyroid Guidelines Panel, President of the
                    Association for Veterinary Informatics, and a Member of the New Hampshire State Board of Veterinary
                    Medicine. She is a great resource for veterinarians in practice and those interested in Ethics
                    Exhaustion.</p>
                </div>
              </li>
              <li class="education_team_item">
                <img src="/assets/images/instructors/profile_carrie.png" alt="Carrie Jurney, DVM, DACVIM (Neuro)">
                <div class="profile_block">
                  <h5>Carrie Jurney, DVM, DACVIM (Neuro)</h5>
                  <span>Founder, Jurney Veterinary Neurology &amp; NOMV Board Member</span>
                  <p>Founder of Jurney Veterinary Neurology, Dr. Jurney graduated summa cum laude from the University
                    of Georgia, College of Veterinary Medicine in 2005. She was awarded her neurology diplomate in 2009
                    and her Advanced Neurosurgery Certificate in 2011. She currently serves on the board of Not One
                    More Vet (NOMV). Her experiences on NOMV have led her to seek continuing education in mental health
                    and suicide prevention, so she can better understand and be part of the solution for the veterinary
                    mental health crisis.</p>
                </div>
              </li>
              <li class="education_team_item">
                <img src="/assets/images/instructors/profile_nicole.png" alt="Nicole Blackmer-McArthur, DVM">
                <div class="profile_block">
                  <h5>Nicole Blackmer-McArthur, DVM</h5>
                  <span>NOMV Founder</span>
                  <p>Dr. McArthur is a second-generation veterinarian who graduated from UC Davis School of Veterinary
                    Medicine in 2001. Seeing a need for veterinarians to be able to communicate openly with their
                    peers, Nicole started a secret Facebook group called Not One More Vet, an online veterinary support
                    group that has grown to over 15,000 veterinarian members. The group provides emotional, financial,
                    and professional mental health support to its members.</p>
                </div>
              </li>
              <li class="education_team_item">
                <img src="/assets/images/instructors/profile_jason.png" alt="Jason Sweitzer, DVM, RVT">
                <div class="profile_block">
                  <h5>Jason Sweitzer, DVM, RVT</h5>
                  <span>NOMV Board Member &amp; CFO | Founder, Not One More Vet Student</span>
                  <p>Dr. Sweitzer has worked in veterinary medicine for 18 years from kennel assistant, to RVT, to DVM.
                    He graduated from UC Davis with his DVM in 2009 with focuses on small and exotic animals, behavior,
                    and business management. He is the Intern Director at Conejo Valley Vet Hospital a 24/7 GP and ER
                    hospital in Thousand Oaks, CA. His goals include bringing awareness to mental health issues within
                    the profession, speaking about them with passion and humor, and empowering the profession to help
                    address these critical issues.</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="btn_container">
            <a href="" class="pull-left" data-toggle="modal" data-target="#mighty_vet_education_team_modal" id="view_all_mentors_btn">View
              all mentors</a>
            <div class="next_and_previous_container_btn">
              <a href="javascript:void(0)" class="carousel_btn previous_mentor_btn disabled">
                <i class="fas fa-angle-left"></i>
                <span>Previous</span>
              </a>
              <a href="javascript:void(0)" class="carousel_btn next_mentor_btn">
                <span>Next</span>
                <i class="fas fa-angle-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="resources" class="hidden">
      <div class="container"></div>
    </section>

    <div id="our_cause"><video autoplay="" loop="" id="video-background" muted="" plays-inline="">
        <source src="/assets/videos/13.mp4" type="video/mp4"></video>
      <div class="background_mask"></div>

      <div class="content">
        <h5>MIGHTYVET COMMUNITY</h5>
        <h3>“Because we care. Because we can.”</h3>
        <p>MightyVet is an online veterinary community created to tackle the issues faced in our profession that are
          not taught in Vet or Tech school.</p>

        <div class="video_content">
          <div class="video_prev_swipper_btn swiper-button-disabled">
            <i class="fas fa-chevron-left"></i>
          </div>
          <div class="video_next_swipper_btn swiper-button-disabled">
            <i class="fas fa-chevron-right"></i>
          </div>

          <div id="video_thumbnail_container" class="swiper-container swiper-container-horizontal" style="cursor: grab;">
            <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
              <!-- Slides -->
              <div class="swiper-slide swiper-slide-active">
                <img class="image_thumbnail" src="/assets/images/video_thumbnail/shane.jpg" alt="Dr. Shane">
                <div>
                  <i class="far fa-play-circle"></i>
                  <span>Watch Dr. Shane's story (3:14)</span>
                </div>
                <a href="https://www.youtube.com/embed/TkRsLU9742c?autoplay=1" class="play_video_btn">
                  <span class="hover_effect">
                    <i class="far fa-play-circle"></i>
                  </span>
                </a>
              </div>
              <div class="swiper-slide swiper-slide-next">
                <img class="image_thumbnail" src="/assets/images/video_thumbnail/yin.jpg" alt="">
                <div>
                  <i class="far fa-play-circle"></i>
                  <span>Watch Dr. Sophia's story (2:48)</span>
                </div>
                <a href="https://www.youtube.com/embed/nW9XNDAplkw?autoplay=1" class="play_video_btn">
                  <span class="hover_effect">
                    <i class="far fa-play-circle"></i>
                  </span>
                </a>
              </div>
              <div class="swiper-slide hidden">
                <img class="image_thumbnail" src="/assets/images/video_thumbnail/bernard.jpg" alt="">
                <div>
                  <i class="far fa-play-circle"></i>
                  <span>Watch Dr. Bernard's story (1:41)</span>
                </div>
                <a href="https://www.youtube.com/embed/7cryO4tL8u8?autoplay=1" class="play_video_btn">
                  <span class="hover_effect">
                    <i class="far fa-play-circle"></i>
                  </span>
                </a>
              </div>
            </div>
          </div>

          <ul class="list-unstyled swiper-wrapper hidden">
            <li>
              <img class="image_thumbnail" src="/assets/images/video_thumbnail/shane.jpg" alt="Dr. Shane">
              <div>
                <i class="far fa-play-circle"></i>
                <span>Watch Dr. Shane's story (3:14)</span>
              </div>
              <a href="https://www.youtube.com/embed/TkRsLU9742c?autoplay=1" class="play_video_btn">
                <span class="hover_effect">
                  <i class="far fa-play-circle"></i>
                </span>
              </a>
            </li>
            <li>
              <img class="image_thumbnail" src="/assets/images/video_thumbnail/yin.jpg" alt="">
              <div>
                <i class="far fa-play-circle"></i>
                <span>Watch Dr. Sophia's story (2:48)</span>
              </div>
              <a href="https://www.youtube.com/embed/nW9XNDAplkw?autoplay=1" class="play_video_btn">
                <span class="hover_effect">
                  <i class="far fa-play-circle"></i>
                </span>
              </a>
            </li>
            <li>
              <img class="image_thumbnail" src="/assets/images/video_thumbnail/shane.jpg" alt="">
              <div>
                <i class="far fa-play-circle"></i>
                <span>Watch Dr. Shane's story (3:14)</span>
              </div>
              <a href="https://www.youtube.com/embed/TkRsLU9742c?autoplay=1" class="play_video_btn">
                <span class="hover_effect">
                  <i class="far fa-play-circle"></i>
                </span>
              </a>

            </li>
            <li>
              <img class="image_thumbnail" src="/assets/images/video_thumbnail/yin.jpg" alt="">
              <div>
                <i class="far fa-play-circle"></i>
                <span>Watch Dr. Sophia's story (2:48)</span>
              </div>
              <a href="https://www.youtube.com/embed/nW9XNDAplkw?autoplay=1" class="play_video_btn">
                <span class="hover_effect">
                  <i class="far fa-play-circle"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <section id="mightyvet_highlights_section">
      <div class="container">
        <h3>MightyVet Highlights</h3>
        <ul class="list-unstyled">
          <li class="highlights_item">
            <i class="fab fa-connectdevelop"></i>
            <div class="content">
              <h3>Meaningful Connection</h3>
              <p>Communicate in ways that conferences simply don’t allow. For real time sustainable change.</p>
            </div>
          </li>
          <li class="highlights_item">
            <img src="/assets/images/icon/icon_placeholder_02.png" alt="connection">
            <div class="content">
              <h3>Powerful Network</h3>
              <p>Meet your colleagues from every corner of our great profession. Network and learn from each other.
                Meet associates, practice owners, Deans, specialists, industry and thought leaders.</p>
            </div>
          </li>
          <li class="highlights_item">
            <i class="far fa-comments"></i>
            <div class="content">
              <h3>On Demand Education</h3>
              <p>Now that we've graduated, we've paid enough. Time to evolve. Let's educate each other on our time, in
                our environment, for free.</p>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <div id="footer_section">
      <div class="container">
        <ul id="footer_list">
          <li class="footer_item main_footer">
            <div class="mighty_vet_container">
              <a class="mighty_vet_text_logo" href="">
                <img src="/assets/img/MVlogo_white.png" alt="mightyvet logo">
              </a>
              <p>CPR for the Veterinary Soul ™</p>
            </div>
            <div class="upper_sign_up_container">
              <a href="javascript:void(0)" class="btn sign_in_btn hidden">Sign in</a>
              <a href="javascript:void(0)" class="btn sign_up_btn" data-toggle="modal" data-target="#request_invite_modal">Sign
                up</a>
            </div>
            <div class="social_media_btn_container">
              <span class="follow_us_text">Follow us:</span>
              <ul class="list-unstyled">
                <li>
                  <a href="https://twitter.com/@realmightyvet" target="_blank" class="fb_button">
                    <i class="fab fa-twitter"></i><span>Follow</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.facebook.com/mightyvet" target="_blank" class="fb_button">
                    <i class="fab fa-facebook-square"></i><span>Follow</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/company/mightyvet/" target="_blank" class="fb_button">
                    <i class="fab fa-linkedin-in"></i><span>Follow</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.youtube.com/channel/UCu39sWpBIRWNh-NlU5j_6Gw" target="_blank" class="fb_button">
                    <i class="fab fa-youtube-square"></i><span>Follow</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="footer_item company_contacts">
            <ul id="contact_list">
              <li class="contact_item">
                <img src="/assets/img/email_icon.png" alt="#">
                <div>
                  <span class="contact_label">Email</span>
                  <span>info@mightyvet.org</span>
                </div>
              </li>
              <li class="contact_item">
                <img src="/assets/img/email_icon.png" alt="#">
                <div>
                  <span class="contact_label">Contact Number</span>
                  <span>206.607.1878</span>
                </div>
              </li>
              <li class="contact_item">
                <img src="/assets/img/email_icon.png" alt="#">
                <div>
                  <span class="contact_label">Address</span>
                  <span>6100 4th Ave. S., Suite 200 Seattle, WA 98108</span>
                </div>
              </li>
              <li class="contact_item press_relase_item">
                <i class="far fa-newspaper"></i>
                <div>
                  <a href="/assets/pdf/press_release/press_release.pdf" target="_blank">
                    <span class="contact_label">Press Release</span>
                  </a>
                </div>
              </li>
            </ul>
          </li>
          <li class="footer_item social_media_icon_item">
            <div class="social_media_btn_container">
              <ul class="list-unstyled">
                <li>
                  <a href="https://twitter.com/@realmightyvet" target="_blank" class="twitter_button">
                    <i class="fab fa-twitter"></i><span>Follow @realmightyvet</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.facebook.com/mightyvet" target="_blank" class="fb_button">
                    <i class="fab fa-facebook-square"></i><span>Follow</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/company/mightyvet/" target="_blank" class="fb_button">
                    <i class="fab fa-linkedin-in"></i><span>Follow</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.youtube.com/channel/UCu39sWpBIRWNh-NlU5j_6Gw" target="_blank" class="fb_button">
                    <i class="fab fa-youtube-square"></i><span>Follow</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="footer_item footer_signin">
            <div class="sign_up_container">
              <a href="javascript:void(0)" class="sign_in_btn hidden">Sign in</a>
              <a href="javascript:void(0)" class="sign_up_btn" data-toggle="modal" data-target="#request_invite_modal">Sign
                up</a>
            </div>
          </li>
        </ul>
        <div class="terms_and_privacy_container">
          <a href="/assets/pdf/terms_and_privacy/website_terms_and_conditions.pdf" class="footer_sublinks" target="_blank">Terms
            of Service</a>
          <a href="/assets/pdf/terms_and_privacy/privacy_policy_mightyvet.pdf" class="footer_sublinks" target="_blank">Privacy
            Policy</a>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade bs-example-modal-lg" id="request_invite_modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h2>Sign up for MightyVet</h2>
          <p>Sign up to receive updates on free CE courses and resources.</p>
          <form action="http://mightyvet.org/main/process_signup" class="sign_up_form" id="sign_up_form" method="post">
            <input type="text" id="fullname_field" class="form_input " placeholder="Full Name" name="full_name">
            <input type="email" id="email_field" class="form_input" placeholder="Email" name="email_address">
            <input type="text" id="company_field" class="form_input" placeholder="Your Hospital/Organization" name="company_name">
            <div class="btn-group bootstrap-select"><button type="button" class="btn dropdown-toggle bs-placeholder btn-default"
                data-toggle="dropdown" role="button" data-id="category_select" title="Please select a category"><span
                  class="filter-option pull-left">Please select a category</span>&nbsp;<span class="bs-caret"><span
                    class="carret"><i class="fas fa-angle-down"></i></span></span></button>
              <div class="dropdown-menu open" role="combobox">
                <ul class="dropdown-menu inner" role="listbox" aria-expanded="false">
                  <li data-original-index="1"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false"
                      aria-selected="false"><span class="text">Vet tech</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                  <li data-original-index="2"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false"
                      aria-selected="false"><span class="text">Receptionist</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                  <li data-original-index="3"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false"
                      aria-selected="false"><span class="text">Manager</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                  <li data-original-index="4"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false"
                      aria-selected="false"><span class="text">Veterinarian</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                  <li data-original-index="5"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false"
                      aria-selected="false"><span class="text">Student</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                  <li data-original-index="6"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false"
                      aria-selected="false"><span class="text">Other</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                </ul>
              </div><select title="Please select a category" id="category_select" class="selectpicker" name="position_id"
                tabindex="-98">
                <option class="bs-title-option" value="">Please select a category</option>
                <option value="1">Vet tech</option>
                <option value="2">Receptionist</option>
                <option value="3">Manager</option>
                <option value="4">Veterinarian</option>
                <option value="5">Student</option>
                <option value="99">Other</option>
              </select>
            </div>

            <button type="submit" class="sign_up_button btn btn-default disabled" disabled="disabled">Sign up <i class=" loading_animation fa fa-spinner fa-spin hidden"></i></button>
            <input type="reset" class="hidden reset_form">
            <p class="already_registered_text hidden">I have already registered, let me <a href="" class="sign_in_btn">sign
                in</a></p>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="mighty_vet_education_team_modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h3>MightyVet's Education Team</h3>
          <ul class="education_team_list">
            <li class="education_team_item active">
              <img src="/assets/images/instructors/profile_steve.png" alt="Dr. Steve Weinrauch, BVMS, MRCVS">
              <div class="profile_block">
                <h5>Dr. Steve Weinrauch, BVMS, MRCVS</h5>
                <span>Founder, MightyVet</span>
                <p>Dr. Steve is a great resource for those interested in a veterinary industry career outside of
                  practice. He is the founder of MightyVet, Co-Founder and Medical Director of 2nd Chance Rescue, and
                  Chief Veterinary Officer at Trupanion. He has published his research in numerous peer-reviewed
                  journals and is licensed to practice in both the USA and the European Union. His wife is also a
                  practicing veterinarian and both graduated from the Glasgow University School of Veterinary Medicine
                  in 2005.</p>
              </div>
            </li>
            <li class="education_team_item">
              <img src="/assets/images/instructors/profile_kipperman.png" alt="Barry Kipperman, BVMS, MRCVS, MSc">
              <div class="profile_block">
                <h5>Barry Kipperman, BVMS, MRCVS, MSc</h5>
                <span>Veterinarian &amp; MightyVet Board President</span>
                <p>Dr. Barry Kipperman, who will start out this program on moral stress. Dr. Kipperman grew up in New
                  York, and feels the TV show Seinfeld drew heavily from his own life experiences. He is board
                  certified in internal medicine and is staff internist and founder of a 24 hour referral/emergency
                  practice in the San Francisco Bay area. After 26 years in practice, Dr. Kipperman decided to devote
                  the remainder of his career to animal welfare and ethics. He received a masters degree in animal
                  welfare, ethics and law in 2017 from the University of Edinburgh, and is pursuing board certification
                  in animal welfare. He teaches veterinary ethics at the University of California at Davis School of
                  Veterinary Medicine, and animal welfare and ethics for the University of Missouri. In additional to
                  serving on the MightyVet board, Dr. Kipperman serves on the Board of Directors of the Humane Society
                  Veterinary Medical Association. His research interests include the influence of economics on animal
                  welfare and veterinarian well-being, and the ethical dilemmas and moral stress faced by
                  veterinarians.</p>
              </div>
            </li>
            <li class="education_team_item">
              <img src="https://cvpco.com/wp-content/uploads/2018/11/Laura-Strong-DVM-Career-photo-edit-1.jpg" alt="Laura Strong, DVM, CCFP">
              <div class="profile_block">
                <h5>Laura Strong, DVM, CCFP</h5>
                <span>Director of University Relations, CVP &amp; MightyVet Board Vice President</span>
                <p>Dr. Strong earned her degree from Ballermine University and her doctorate from Purdue University,
                  after which led her to directing and overseeing her own comprehensive veterinary hospital, a team of
                  six veterinarians, 30 staff members, and the wellbeing of thousands of pets and their families for
                  over 25 years. She has a passion for leadership and helping veterinarians balance the financial
                  wellbeing of a practice with the financial wellbeing of staff members, while also providing care to
                  potentially unlucky pets and clients.</p>
              </div>
            </li>
            <li class="education_team_item">
              <img src="/assets/images/instructors/profile_sonnya.png" alt="Sonnya Dennis, DVM, DABVP">
              <div class="profile_block">
                <h5>Sonnya Dennis, DVM, DABVP</h5>
                <span>Practice Owner</span>
                <p>Dr. Sonnya Dennis graduated from the Virginia-Maryland Regional College of Veterinary Medicine in
                  1995. Since 1996 she has been the owner and full-time veterinarian at Stratham-Newfields Veterinary
                  Hospital. Dr. Dennis is Board-Certified in Canine and Feline Practice with the American Board of
                  Veterinary Practitioners and is Chair of the AAHA Veterinary Informatics Committee &amp; Diagnostic
                  Terms Editorial Board. She is on the AAFP Hyperthyroid Guidelines Panel, President of the Association
                  for Veterinary Informatics, and a Member of the New Hampshire State Board of Veterinary Medicine. She
                  is a great resource for veterinarians in practice and those interested in Ethics Exhaustion.</p>
              </div>
            </li>
            <li class="education_team_item">
              <img src="/assets/images/instructors/profile_carrie.png" alt="Carrie Jurney, DVM, DACVIM (Neuro)">
              <div class="profile_block">
                <h5>Carrie Jurney, DVM, DACVIM (Neuro)</h5>
                <span>Founder, Jurney Veterinary Neurology &amp; NOMV Board Member</span>
                <p>Founder of Jurney Veterinary Neurology, Dr. Jurney graduated summa cum laude from the University of
                  Georgia, College of Veterinary Medicine in 2005. She was awarded her neurology diplomate in 2009 and
                  her Advanced Neurosurgery Certificate in 2011. She currently serves on the board of Not One More Vet
                  (NOMV). Her experiences on NOMV have led her to seek continuing education in mental health and
                  suicide prevention, so she can better understand and be part of the solution for the veterinary
                  mental health crisis.</p>
              </div>
            </li>
            <li class="education_team_item">
              <img src="/assets/images/instructors/profile_nicole.png" alt="Nicole Blackmer-McArthur, DVM">
              <div class="profile_block">
                <h5>Nicole Blackmer-McArthur, DVM</h5>
                <span>NOMV Founder</span>
                <p>Dr. McArthur is a second-generation veterinarian who graduated from UC Davis School of Veterinary
                  Medicine in 2001. Seeing a need for veterinarians to be able to communicate openly with their peers,
                  Nicole started a secret Facebook group called Not One More Vet, an online veterinary support group
                  that has grown to over 15,000 veterinarian members. The group provides emotional, financial, and
                  professional mental health support to its members.</p>
              </div>
            </li>
            <li class="education_team_item">
              <img src="/assets/images/instructors/profile_jason.png" alt="Jason Sweitzer, DVM, RVT">
              <div class="profile_block">
                <h5>Jason Sweitzer, DVM, RVT</h5>
                <span>NOMV Board Member &amp; CFO | Founder, Not One More Vet Student</span>
                <p>Dr. Sweitzer has worked in veterinary medicine for 18 years from kennel assistant, to RVT, to DVM.
                  He graduated from UC Davis with his DVM in 2009 with focuses on small and exotic animals, behavior,
                  and business management. He is the Intern Director at Conejo Valley Vet Hospital a 24/7 GP and ER
                  hospital in Thousand Oaks, CA. His goals include bringing awareness to mental health issues within
                  the profession, speaking about them with passion and humor, and empowering the profession to help
                  address these critical issues.</p>
              </div>
            </li>
          </ul>
          <a href="javascript:void(0)" class="see_more_button">See More</a>
        </div>
      </div>
    </div>

    <!-- modal for success sign up -->
    <div class="modal fade" id="success_sign_up_modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h2>You have signed up to MightyVet </h2>
          <p>Thank you for signing up. </p>
          <ul class="list-unstyled includes">
            <li>
              <span>Name:</span>
              <span class="info name_text"></span>
            </li>
            <li>
              <span>Email:</span>
              <span class="info email_text"></span>
            </li>
            <li>
              <span>Your Organization:</span>
              <span class="info organization_text">Village 88</span>
            </li>
            <li>
              <span>Category:</span>
              <span class="info category_text"></span>
            </li>
          </ul>
          <a href="javascript:void(0)" data-dismiss="modal" class="btn done_btn">Done</a>
        </div>
      </div>
    </div>

    <!-- modal for error sign up -->
    <div class="modal fade" id="already_sign_up_modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <i class="fas fa-exclamation-circle"></i>
          <h2>You have already signed up using your email address.</h2>
          <a href="javascript:void(0)" data-dismiss="modal" data-toggle="modal" data-target="#request_invite_modal"
            class="btn change_email_btn">Change email</a>
        </div>
      </div>
    </div>
  </div>
  <div id="hidden_templates" class="hidden">
    <div class="swiper-slide swiper_slide_template">
      <img src="#" alt="course-icon" class="course_image_url">
      <div class="content">
        <h5 class="title"></h5>
        <h6 class="instructor"></h6>
        <p class="excerpt"></p>
        <a href="#" target="_blank" class="btn enroll_today_btn course_link">Get started</a>
      </div>
    </div>
    <ul id="list_template">
      <li class="education_team_item education_team_item_template">
        <img src="#" alt="#">
        <div class="profile_block">
          <h5></h5>
          <span></span>
          <p></p>
        </div>
      </li>
      <li class="feature_item feature_item_template">
        <a href="" target="_blank">
          <img src="" class="vetmedteam_logo" alt="">
        </a>
      </li>
    </ul>
  </div>
