<div *ngIf="mentor">
  <div *ngIf="mentor._id">
    <div class="container d-flex">
      <img id="mentor_img" [src]="mentor.user.picture" alt="Mentor Image">
      <div>
        <h3>{{mentor.user.firstName}} {{mentor.user.lastName}}</h3>
        <h6>{{mentor.user.title}}, {{mentor.user.org}}</h6>
        <p>{{mentor.resume}}</p>
        </div>
      <div class="ml-auto">
        <button *ngIf="!isMentee" class="btn btn-primary" (click)="signUp()">Become {{mentor.user.firstName}}'s mentee.</button>
        <button *ngIf="isMentee" class="btn btn-secondary">You have already requested to become {{mentor.user.firstName}}'s mentee.</button>
      </div>
    </div>
  </div>
  <div *ngIf="!mentor._id" class="container d-flex justify-content-center pt-5">
    <i class="fa fa-paw fa-5x mr-3 text-info"></i>
    <div class="text-info">
      <h1>Whoops... How did you end up here?</h1>
      <h3>We couldn't find the mentor you were looking for</h3>
      <button class="btn btn-outline-info" [routerLink]="['/mentorship']">Return to Mentorship</button>
    </div>
  </div>
</div>