<ng-template #showAvailabilities>
  <div class="modal-header">
    <h2 class="modal-title">{{mentor.user.firstName}}'s availabilities on {{date.format('dddd, D MMMM, YYYY')}} </h2>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form>
    <div class="modal-body container">
      <div id="available_times" class="card border-info mr-2 mb-2" *ngFor="let daily_meeting of daily_meetings">
        <div class="m-2 text-center" *ngIf="!daily_meeting.mentee">
          <span>{{daily_meeting.datetime | date: "hh:mma"}}</span>
          <div class="btn-group w-100" role="group">
            <button class="btn btn-sm btn-success" (click)="signUp(daily_meeting._id)"><i class="fa fa-check"
                aria-hidden="true"></i>&nbsp;Sign Up</button>
          </div>
          <div class="text-danger" *ngIf="error?._id === daily_meeting._id"><small>{{error.datetime.message}}</small></div>
        </div>
        <div class="m-2 text-center" *ngIf="daily_meeting.mentee">
          <span>{{daily_meeting.datetime | date: "hh:mma"}}</span>
          <div class="btn-group w-100" role="group">
            <button class="btn btn-sm btn-danger" (click)="cancel(daily_meeting._id)"><i class="fa fa-times"
                aria-hidden="true"></i>&nbsp;Cancel</button>
          </div>
        </div>
      </div>
    </div>
    <!-- arrange this to be in bottom right with absolute -->
    <div class="modal-footer">
      <button class="btn btn-danger" (click)="modal.dismiss('click')">Exit</button>
    </div>
  </form>
</ng-template>
<!-- <div class="container">
  <h1>{{mentor.user.firstName}}'s Availabilities</h1>
  <br>
  <div class="calendar">
    <div class="calendar-navs">
      <div class="month-nav row text-center mb-2">
        <button class="col" (click)="prevMonth()">&lt;</button>
        <span class="p4 col-10">{{ currentDate.format('MMMM YYYY') }}</span>
        <button class="col" (click)="nextMonth()">&gt;</button>
      </div>
    </div>
    <div class="month-grid">
      <div class="day-names row">
        <div *ngFor="let name of dayNames" class="day-name col py-2">
          {{ name }}
        </div>
      </div>
      <div class="weeks">
        <div *ngFor="let week of weeks" class="week row">
          <ng-container *ngFor="let day of week">
            <div class="week-date notMonth col text-center" *ngIf="!isSelectedMonth(day.mDate)">
              <span class="date-text">{{ day.mDate.date() }}</span>
            </div>
            <div class="week-date col text-center"
                *ngIf="isSelectedMonth(day.mDate)"
                (click) = "open(day.mDate)"
                [ngClass]="{ 'today': day.today, 'available': day.available }">
              <span class="date-text">{{ day.mDate.date() }}</span>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <h1>{{mentor.user.firstName}}'s Availabilities</h1>
    <button class="btn btn-outline-secondary" [routerLink]="['/mentorship', mentor._id]">Back</button>
  </div>
  <hr />
  <div class="d-flex justify-content-around align-items-center">
    <button class="btn btn-lg btn-outline-success rounded-circle" (click)="prevMonth()"><i class="fa fa-arrow-left"
        aria-hidden="true"></i></button>
    <div class="w-75 card m-auto bg-white rounded-lg shadow">
      <div class="card-header bg-white">
        <h4 class="text-center text-success p-3">{{ currentDate.format('MMMM YYYY') }}</h4>
      </div>
      <div class="card-body">
        <table class="table w-100">
          <thead>
            <tr>
              <ng-container *ngFor="let name of dayNames">
                <th class="text-center text-success border-0">{{ name }}</th>
              </ng-container>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let week of weeks">
              <tr>
                <ng-container *ngFor="let day of week">
                  <td class="date-container text-center bg-light border-0"
                    [ngClass]="{ 'today': day.today, 'available': day.available, 'past': day.isPast, 'booked': day.booked }"
                    *ngIf="!isSelectedMonth(day.mDate)" (click)="open(day.mDate)">
                    <div class="date-text m-auto">{{ day.mDate.date() }}</div>
                  </td>
                  <td class="date-container text-center border-0"
                    [ngClass]="{ 'today': day.today, 'available': day.available, 'past': day.isPast, 'booked': day.booked }"
                    *ngIf="isSelectedMonth(day.mDate)" (click)="open(day.mDate)">
                    <div class="date-text m-auto">{{ day.mDate.date() }}</div>
                  </td>
                </ng-container>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
    <button class="btn btn-lg btn-outline-success rounded-circle" (click)="nextMonth()"><i class="fa fa-arrow-right"
        aria-hidden="true"></i></button>
  </div>
</div>