label{
    display: block;
}
input{
    display: block;
}
select{
    vertical-align: top;
}
.speaker_form{
    display: inline-block;
}
.question{
    padding: 10px;
    margin-bottom: 10px;
}
.question input{
    display: inline-block;
}
.question label{
    display: inline-block;
}
.img-preview{
    max-height: 100px;
}
h6{
    cursor: pointer;
    text-decoration: underline;
}
.img-pop{
    max-width: 200px;
}
td h6{
    display: inline;
}