label{
    display: block;
}
input{
    display: block;
}
select{
    vertical-align: top;
}
.speaker_form{
    display: inline-block;
}
.question{
    padding: 10px;
    margin-bottom: 10px;
}
.question input{
    display: inline-block;
}
.question label{
    display: inline-block;
}
.img-preview{
    max-height: 100px;
}

.description_size{
    height: 200px;
    overflow: auto;
}

:host >>> .popover {
    max-width: 350px !important;
    height: 300px !important;
    overflow: auto;
    border: 4px solid rgba(0, 0, 0, 0.2);
}
.img-pop{
    max-width: 150px;
}