*{
    box-sizing: border-box;
    font-family: Montserrat;
}
.container{
    width: 100vw;
    background-color: white;
    padding: 1rem;
    margin: 0;
    vertical-align: top;
}

/* main */

.main-left, .main-right{
    height: 100%;
    margin: 1rem;
    min-height: 200px;
    vertical-align: top;
    display: inline-block;
    width: 45%;
}

.main-image{
    width: 100%;
}

.main-left__top, .main-right__top{
    margin-bottom: 2rem;
    min-height: 300px;
}
.main-left__top p, .main-right__top p{
    font-size: 1rem;
}

.main-left__bottom, .main_right__bottom{
    margin-bottom: 2rem;
    background: #7DA7D9;
    border-radius: 5px;
    color: white;
    padding: 1rem;
    font-size: 1rem;
}
.main-right__top-header{
    width: 80%;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: normal;
    color: #395371;
    margin: 0 0 2rem 0
}

.main-right__top-text{
    margin: 0 0 1rem 0;
}

.main-right__top-button{
    text-align: right;
}
.main-right__top-button button{
    background: #95D9C3;
    border-radius: 5px;
    right: 0;
    bottom: 0;
    font-size: .7rem;
    width: 12rem;
    height: 1.8rem;
    /* transform: matrix(1, 0, 0, -1, 0, 0); */
}

.become_mentor_button, .find_mentor__button{
    background: #627894;
    border-radius: 5px;
    color: white;
    width: 300px;
    height: 39px;
    margin-top: 2rem;
}

li{
    font-size: .7rem;
    color: black;
}


/* search bar */

.bar{
    width: 100%;
    display: block;
    margin: 1rem;
}
.search__button{
    background: #565656;
    border: 1px solid #565656;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: white;
    padding: .2rem 1rem;
}
.search_bar__input{
    width: 70%;
    border: .2rem solid #565656;
}

/* .search{
    text-align: left;
} */
#magnifying_glass{
    background: #565656;
    /* padding: .2rem 1rem; */
    color: white;
    width: 1.4rem;
    height: 1.4rem;
}

.magnifying_glass__button{
    background: #565656;
    border: 1px solid #565656;
    box-sizing: border-box;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    padding: .2rem 1rem;
}
.checkboxes{
    margin: 2rem 0 1rem 0;
}
.checkboxes p{
    display: inline-block;
    margin-left: 1rem;
}
.checkboxes input{
    margin: 0 .3rem 0 2.5rem;
}


/* footer */

.footer__header{
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: normal;
    color: #395371;
    margin: 2rem 0 1rem 0
}

.mentor{
    background: rgba(125, 167, 217, 0.2);
    border-radius: 5px;
    padding: 1rem;
    width: 47%;
    display: inline-block;
    margin: 1rem;
    min-height: 350px;
    vertical-align: top;
}
.mentor > div{
    display: inline-block;
}
.mentor h5{
    width: 90%;
    font-size: 1rem;
    margin: .5rem;
}
.mentor h6{
    width: 60%;
    font-size: .8rem;
    margin: .5rem;
}
.mentor p{
    font-size: .8rem;
    margin: 2rem 1rem 0 0 ;
}

.mentor_header{
    display: inline-block;
    width: 65%;
    margin: .5rem;
}
.see_all{
    display: block;
    margin: 0 auto;
}
.see_all_h1{
    display: block;
    text-align: center;
}









/*

Old mentorhsip page

*{
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    padding-top: 10rem; 
}

.background-image{
    background-image: url("../../assets/img/backgroundImage.jpg");
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    top: 0;
    left: 0;
}

.mentor{
    width: 90%;
    max-width: 500px;
    min-width: 165px;
    margin: 10px auto;
    text-align: center;
    height: 33rem;
}

.mentor-title{
    color: white;
    font-weight: bold;
    font-size: 3rem;
    margin: 2rem;
    min-width: 120px;
    border-bottom: .2rem solid transparent;
}

.mentor-title:hover,
.mentor-title:active {
    border-bottom: .2rem solid blue;
}

.mentor-info{
    color: rgb(255, 255, 255, 0.7);
    font-size: 1rem;
    min-width: 200px;
    width: 60%;
    margin: 1rem auto;
    text-align: center;
    display: block;
}

.mentor-calendar{
    background: rgb(24, 130, 190);
    color: white;
    width: 100%;
    max-width: 250px;
    min-width: 150px;
    height: 2rem;
    margin: 4rem 0;
    text-align: center;
}

.mentor-featured{
    width: 100%;
    height: 100%;
    background: white;
    text-align: center;
    padding-top: 5rem;
}
.mentor-featured__title{
    color: black;
    font-size: 3rem;
    margin: 1rem;
}

*/