.mentor{
    background: rgba(168, 201, 239, 0.62);
}
.mentor:hover {
    background: rgba(168, 201, 239, 0.50);
}
#mentor-img img{
    width: 176px;
}
.modal-dialog{
    max-width: 80%;
}
.form-input{
    width: 45%;
    margin: .5rem 1.5rem .5rem 0;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
}
textarea {
    resize: none;
    overflow: scroll;
}
.errors{
    color: red;
}
/* media queries */

@media only screen and (min-width:992px){
    .main-image{
        width: 48.6%;
    }
    .main-info{
        width: 48.6%;
    }
    .mentor{
        width: 48.6%;
    }
}