<!-- --------Mentor form----------- -->
    <ng-template #becomeAMentor>
    <div *ngIf="!application_submitted">
        <div class="modal-header">
            <h2 class="modal-title">Become a mentor</h2>
            <button type="button" class="close" (click)="modal.dismiss('click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form>
            <div class="modal-body container">
                <!-- <p *ngIf="newMenteeErrors.errors.firstName" style="color:red">
                        {{newMenteeErrors.errors.firstName.message}}
                        </p> -->
                <h6>Double check your information! Changing this information will also change your user information.
                </h6>
                <div class="row">
                    <div class="form-group col">
                        <input type="text" class="form-control" placeholder="First Name" name="userInfo.firstName"
                            [(ngModel)]="userInfo.firstName">
                        <div *ngIf="user_errors?.firstName" class="text-danger">
                            <small>{{user_errors.firstName.message}}</small></div>
                    </div>
                    <div class="form-group col">
                        <input type="text" class="form-control" placeholder="Last Name" name="userInfo.lastName"
                            [(ngModel)]="userInfo.lastName">
                        <div *ngIf="user_errors?.lastName" class="text-danger">
                            <small>{{user_errors.lastName.message}}</small></div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col">
                        <input type="email" class="form-control" placeholder="Preferred Email" name="userInfo.email"
                            [(ngModel)]="userInfo.email">
                        <div *ngIf="user_errors?.email" class="text-danger"><small>{{user_errors.email.message}}</small>
                        </div>
                    </div>
                    <div class="form-group col">
                        <select class="form-control" placeholder="State" name="userInfo.state"
                            [(ngModel)]="userInfo.state">
                            <option *ngFor="let state of states">{{state}}</option>
                        </select>
                        <div *ngIf="user_errors?.state" class="text-danger"><small>{{user_errors.state.message}}</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col">
                        <select class="form-control" placeholder="Your Title(s)" name="userInfo.title"
                            [(ngModel)]="userInfo.title">
                            <option>Vet Tech</option>
                            <option>Receptionist</option>
                            <option>Manager</option>
                            <option>Veterinarian</option>
                            <option>Student</option>
                            <option>Other</option>
                        </select>
                        <div *ngIf="user_errors?.title" class="text-danger"><small>{{user_errors.title.message}}</small>
                        </div>
                    </div>
                    <div class="form-group col">
                        <input type="text" class="form-control" placeholder="Organization(s)" name="userInfo.org"
                            [(ngModel)]="userInfo.org">
                        <div *ngIf="user_errors?.firstName" class="text-danger">
                            <small>{{user_errors.org.message}}</small></div>
                    </div>
                </div>
                <div>
                    <div class="form-group">
                        <h6>Please enter your resume here. (Between 100 and 400 characters)</h6>
                        <textarea class="form-control" type="text" name="newMentor.resume"
                            [(ngModel)]="newMentor.resume"></textarea>
                        <div *ngIf="mentor_errors?.resume" class="text-danger">
                            <small>{{mentor_errors.resume.message}}</small></div>
                    </div>
                </div>
                <div>
                    <div class="form-group">
                        <h6>What kind of support are you willing to give? (Check all that apply)</h6>
                        <input type="checkbox" class="checkboxes" [(ngModel)]="newMentor.support.mental_health"
                            name="mentalHealthBox">
                        Mental Health
                        <input type="checkbox" class="checkboxes" [(ngModel)]="newMentor.support.financial_advice"
                            name="financialAdviceBox">
                        Financial Advice
                        <input type="checkbox" class="checkboxes" [(ngModel)]="newMentor.support.career_advice"
                            name="careerAdviceBox">
                        Career Advice
                        <input type="checkbox" class="checkboxes" [(ngModel)]="newMentor.support.technical_advice"
                            name="technicalAdviceBox">
                        Technical or Surgical
                        <div *ngIf="mentor_errors?.support" class="text-danger">
                            <small>{{mentor_errors.support.message}}</small></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn-primary" (click)="addMentor()">Submit</button>
            </div>
        </form>
    </div>

    <div *ngIf="application_submitted">
        <div class="modal-header">
            <h2>Thank you for submitting your application!</h2>
        </div>
        <div class="modal-body container">
            <p>You will get a notification once it has been reviewed.</p>
        </div>
        <div class="modal-footer">
            <button class="btn-primary" (click)="modal.dismiss('close')">Close</button>
        </div>
    </div>
</ng-template>
<!-- --------End Mentor form----------- -->


<!--  ------ Heading ------- -->
<section id="section-mentorship" class="container">
    <div class="jumbotron d-flex justify-content-end">
        <div id="mentorship-text" class="mr-3 p-5 text-light d-flex flex-column align-items-end">
            <h1 class="text-light">MightyVet is looking for some mighty mentors</h1>
            <p>Rotating office hours will be held online with the deans of veterinary schools and other thought leaders
                from the veterinary industry. Ask questions of the veterinary community for a real-time feedback loop to
                evaluate your career options. You can schedule office hours with one of our featured members.</p>
            <button *ngIf="!isMentor" class="btn btn-primary mt-auto" (click)="open(becomeAMentor)">Apply to Become a
                Mentor</button>
        </div>
    </div>
</section>
<!-- ------End Heading----- -->


<!-- <section id="section-schedule" class="py-4">
    <div class="container d-flex flex-lg-row flex-md-column flex-sm-column justify-content-between">
        <img class="main-image mb-3" src="../../assets/mentor-images/main.png" alt="main images">
        <div class="main-info mb-3 d-flex align-items-end flex-column">
            <h2></h2>
            <
        </div>
    </div>
</section> -->

<!-- ---list of mentor cards--- -->
<section class="bg-light py-5 m-0">
    <!-- ----search bar---- -->
    <div class="container mb-3">
        <h1 class="mb-3">Find a Mentor</h1>
        <div id="search-bar" class="input-group mb-3">
            <input type="text" class="form-control border-dark" placeholder="Search..." aria-label="coursesSearch"
                aria-describedby="coursesSearch" [(ngModel)]="searchBar.bar">
            <div class="input-group-append border-dark">
                <button class="btn btn-dark" type="button" id="coursesSearch"><i class="fa fa-search"></i></button>
            </div>
        </div>
        <!-- ---check box filters--- -->
        <div id="search-filters" class="d-flex flex-lg-row flex-md-column flex-sm-column justify-content-between">
            <h6>Refine results by :&nbsp;</h6>
            <div id="checkboxes">
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" id="checkbox1" name="checkbox1" class="custom-control-input"
                        [(ngModel)]="searchBar.mental_health">
                    <label class="custom-control-label" for="checkbox1">Mental Health</label>
                </div>
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" id="checkbox2" name="checkbox2" class="custom-control-input"
                        [(ngModel)]="searchBar.financial_advice">
                    <label class="custom-control-label" for="checkbox2">Financial Advice</label>
                </div>
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" id="checkbox3" name="checkbox3" class="custom-control-input"
                        [(ngModel)]="searchBar.career_advice">
                    <label class="custom-control-label" for="checkbox3">Career Advice</label>
                </div>
                <div class="custom-control custom-checkbox custom-control-inline mr-0">
                    <input type="checkbox" id="checkbox4" name="checkbox4" class="custom-control-input"
                        [(ngModel)]="searchBar.technical_advice">
                    <label class="custom-control-label" for="checkbox4">Technical Advice</label>
                </div>
            </div>
        </div>
    </div>
    <!-- ---- end search bar---- -->

    <div class="container">
        <div class="d-flex flex-lg-row flex-md-column flex-sm-column justify-content-between flex-wrap">
            <!-- ----mentor card---- -->
            <a class="card mentor mb-3" *ngFor="let mentor of mentors | mentorsearch: searchBar"
                [routerLink]="['/mentorship', mentor._id]">
                <!-- search pipe to limit the amount of displayed data-->
                <div class="card-body d-flex justify-content-start">
                    <div id="mentor-img" class="p-0 mr-3">
                        <img [src]="mentor.user.picture" alt="mentor image">
                    </div>
                    <div class="mentor-header align-self-center">
                        <h4>{{mentor.user.firstName}} {{mentor.user.lastName}}</h4>
                        <h6>{{mentor.user.title}}, {{mentor.user.org}}</h6>
                    </div>
                </div>
                <div class="mx-4 mb-2">
                    <p>{{mentor.resume | slice: 100 }}</p>
                </div>
            </a>
            <!-- ----end  mentor card---- -->
        </div>
        <button type="button" class="conbtn btn-block btn-outline-primary btn-lg" (click)="seeMore()">SEE MORE&nbsp;&nbsp;<i
            class="fa fa-chevron-down"></i></button>
    </div>
</section>
