<h4>Newsletter Email List</h4>
<textarea class="form-control mb-3" #userInput>{{email}}</textarea>
<div *ngIf="alert" class="alert alert-success mb-3">
    <p>Textbox successfully copied!</p>
</div>
<div class="d-flex justify-content-between">
    <button class="btn btn-outline-primary" (click)="exportAsXLSX()"><i class="fa fa-file-excel-o"></i>&nbsp;Download Newsletter into an Excel File</button>
    <button class="btn btn-outline-primary" (click)="copyInputMessage(userInput)" value="Click to Copy">Copy from Textbox</button>
</div>
