<h4>Mentors Waiting for Approval</h4>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tentativeMentor of approvalMentors">
      <td><a [routerLink]="['/mentorship', tentativeMentor._id]">{{tentativeMentor.user.firstName}} {{tentativeMentor.user.lastName}}</a></td>
      <td>
        <button class="btn btn-success" (click)="approveMentor(tentativeMentor._id, tentativeMentor.user.email)">Approve</button>
        <button class="btn btn-danger" (click)="declineMentor(tentativeMentor._id)">Decline</button>
      </td>
    </tr>
  </tbody>
</table>
<h4>All Mentors</h4>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Mentees</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let mentor of mentors">
      <td><a [routerLink]="['/mentorship', mentor._id]">{{mentor.user.firstName}} {{mentor.user.lastName}}</a></td>
      <td>{{mentor.mentees.length}}</td>
      <td><button class="btn btn-danger" (click)="declineMentor(mentor._id)">Delete</button></td>
    </tr>
  </tbody>
</table>
