.class_nav{
    cursor: pointer;
}
#user-profile-left {
    width: 30%;
}
#user-profile-right {
    width: 68%;
}
#user-profile-left .card-body ul {
    list-style-type: none;
}
#mentee-img {
    cursor: pointer;
    width:23%;
}
#mentee-img:hover {
    box-shadow: 0px 0px 3px 3px #ccc;
}