#user-profile-left .card-body ul {
    list-style-type: none;
}
#mentee-img {
    cursor: pointer;
    width:23%;
}
#mentee-img:hover {
    box-shadow: 0px 0px 3px 3px #ccc;
}
.table td{
    word-break: break-word;
}
.pointer{
    cursor: pointer;
}
.horizontal-scroll{
    overflow: auto;
    white-space: nowrap;
}
.class-card{
    width: 200px;
    height: 250px;
}
.btn-wrap{
    white-space: normal;
}
@media only screen and (min-width:768px) {
    #user-profile-left {
        width: 30%;
    }
    #user-profile-right {
        width: 68%;
    }
}