<!-- Edit User Info modal -->
<ng-template #edit>
    <div class="modal-header">
        <h2 class="modal-title">Edit Your Profile Information</h2>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form>
        <div class="modal-body container">
            <div class="row">
                <div class="form-group col">
                    <label>First Name</label>
                    <input type="text" class="form-control col" placeholder="First Name" name="editUser.firstName"
                        [(ngModel)]="editUser.firstName" required>
                    <div *ngIf="edit_errors?.firstName" class="text-danger">{{edit_errors.firstName.message}}</div>
                </div>
                <div class="form-group col">
                    <label>Last Name</label>
                    <input type="text" class="form-control col" placeholder="Last Name" name="editUser.lastName"
                        [(ngModel)]="editUser.lastName" required>
                    <div *ngIf="edit_errors?.lastName" class="text-danger">{{edit_errors.lastName.message}}</div>
                </div>
                <div class="form-group col">
                    <label>Email</label>
                    <input type="email" class="form-control" placeholder="Preferred Email" name="editUser.email"
                        [(ngModel)]="editUser.email" required>
                    <div *ngIf="edit_errors?.email" class="text-danger">{{edit_errors.email.message}}</div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col">
                    <label>State</label>
                    <select class="form-control" placeholder="State" name="editUser.state" [(ngModel)]="editUser.state"
                        required>
                        <option *ngFor="let state of states">{{state}}</option>
                    </select>
                    <div *ngIf="edit_errors?.state" class="text-danger">{{edit_errors.state.message}}</div>
                </div>
                <div class="form-group col">
                    <label>Title</label>
                    <select class="form-control" placeholder="Your Title(s)" name="editUser.title"
                        [(ngModel)]="editUser.title">
                        <option>Vet Tech</option>
                        <option>Receptionist</option>
                        <option>Manager</option>
                        <option>Veterinarian</option>
                        <option>Student</option>
                        <option>Other</option>
                    </select>
                    <div *ngIf="edit_errors?.title" class="text-danger">{{edit_errors.title.message}}</div>
                </div>
                <div class="form-group col">
                    <label>Organization</label>
                    <input type="text" class="form-control" placeholder="Organization(s)" name="editUser.org"
                        [(ngModel)]="editUser.org" required>
                    <div *ngIf="edit_errors?.org" class="text-danger">{{edit_errors.org.message}}</div>
                </div>
            </div>
            <div class="d-flex align-items-between">
                <div class="form-group ml-auto">
                    <label>Sign up for our newsletter</label>
                    <input class="ml-1" type="checkbox" name="newsletter" [(ngModel)]="checkbox_newsletter">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button *ngIf="!editPending && !editSuccess" class="btn btn-primary" (click)="editting()">Edit</button>
            <button *ngIf="editPending && !editSuccess" class="btn btn-primary" disabled><i class="fa fa-spinner fa-spin"></i>&nbsp;Edit</button>
            <button *ngIf="editSuccess" class="btn btn-success">Success&nbsp;<i class="fa fa-check"></i></button>
        
        </div>
    </form>
</ng-template>

<!-- Edit User Info modal -->
<ng-template #password>
    <div class="modal-header">
        <h2 class="modal-title">Edit Your Password</h2>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form>
        <div class="modal-body container">
            <div class="row">
                <div class="form-group col">
                    <label>Old Password</label>
                    <input type="password" class="form-control col" placeholder="********" name="editPassword.old"
                        [(ngModel)]="editPassword.old" required>
                    <!-- <div *ngIf="editPassword_errors?.old" class="text-danger">{{edit_errors.firstName.message}}</div> -->
                </div>
                <div class="form-group col">
                    <label>New Password</label>
                    <input type="password" class="form-control col" placeholder="********" name="editPassword.new"
                        [(ngModel)]="editPassword.new" required>
                    <!-- <div *ngIf="editPassword_errors?.old" class="text-danger">{{edit_errors.firstName.message}}</div> -->
                </div>
                <div class="form-group col">
                    <label>Confirm New Password</label>
                    <input type="password" class="form-control col" placeholder="********" name="editPassword.confirm"
                        [(ngModel)]="editPassword.confirm" required>
                    <div class="text-danger" *ngIf="editPassword.confirm !== '' && editPassword.new !== editPassword.confirm"><small>The Confirm Password
                            field is not matching your Password field.</small></div>
                    <!-- <div *ngIf="editPassword_errors?.old" class="text-danger">{{edit_errors.firstName.message}}</div> -->
                </div>
            </div>
        </div>
        <!-- arrange this to be in bottom right with absolute -->
        <div class="modal-footer">
            <button *ngIf="!passwordPending && !passwordSuccess" class="btn btn-primary" (click)="edittingPassword()">Edit</button>
            <button *ngIf="passwordPending && !passwordSuccess" class="btn btn-primary" disabled><i class="fa fa-spinner fa-spin"></i>&nbsp;Edit</button>
            <button *ngIf="passwordSuccess" class="btn btn-success">Success&nbsp;<i class="fa fa-check"></i></button>
        </div>
    </form>
</ng-template>

<!-- Edit User Photo modal -->
<ng-template #picture>
    <div class="modal-header">
        <h2 class="modal-title">Edit Your Profile Image</h2>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form>
        <div class="modal-body container">
            <div class="holder-image">
                <img *ngIf="!croppedImage" class="profile-picture w-100" [src]="userInfo.picture" alt="Profile Picture">
                <image-cropper
                    [imageChangedEvent]="imageChangedEvent"
                    [maintainAspectRatio]="true"
                    [aspectRatio]="1 / 1"
                    format="jpeg, png"
                    (imageCropped)="imageCropped($event)"
                    (imageLoaded)="imageLoaded()"
                    (cropperReady)="cropperReady()"
                    (loadImageFailed)="loadImageFailed()"
                ></image-cropper>
            </div>
            <div class="form-group">
                <label for="file">Choose new picture</label>
                <input class="form-control" id="file" type="file" accept="image/*"
                (change)="fileChangeEvent($event)">
                <div *ngIf="img_error" class="text-danger"><small>{{img_error}}</small></div>
            </div>
        </div>
        <div class="modal-footer">
            <button *ngIf="picturePending && !pictureSuccess" class="btn btn-primary" disabled><i class="fa fa-spinner fa-spin"></i>&nbsp;Save</button>
            <button *ngIf="!picturePending && !pictureSuccess" class="btn btn-primary" (click)="editImage(imageInput)">Save</button>
            <button *ngIf="pictureSuccess" class="btn btn-success">Success&nbsp;<i class="fa fa-check"></i></button>
        </div>
    </form>
</ng-template>

<!-- Profile page  -->
<div class="container">
    <div class="d-flex justify-content-between mb-4">
        <div id="user-profile-left" class="card border-primary">
            <div id="user-profile-img" class="p-5 pointer" (click)="open('picture')">
                <img class="w-100" [src]="userInfo.picture" alt="Profile Picture">
            </div>
            <div class="card-body">
                <h3 class="card-title">{{userInfo.firstName}} {{userInfo.lastName}}</h3>
                <table class="table">
                    <tbody>
                        <tr>
                            <th class="p-0 text-center border-top-0"><i class="fa fa-envelope-o"></i></th>
                            <td class="p-0 border-top-0">{{userInfo.email}}</td>
                        </tr>
                        <tr>
                            <th class="p-0 text-center border-top-0"><i class="fa fa-map-marker"></i></th>
                            <td class="p-0 border-top-0">{{userInfo.state}}</td>
                        </tr>
                        <tr>
                            <th class="p-0 text-center border-top-0"><i class="fa fa-address-card-o"></i></th>
                            <td class="p-0 border-top-0">{{userInfo.title}}</td>
                        </tr>
                        <tr>
                            <th class="p-0 text-center border-top-0"><i class="fa fa-building-o"></i></th>
                            <td class="p-0 border-top-0">{{userInfo.org}}</td>
                        </tr>
                    </tbody>
                </table>
                <hr />
                <button (click)="open('edit')" class="btn btn-sm btn-outline-secondary btn-block"><i
                        class="fa fa-pencil mr-2"></i>Edit User Profile</button>
                <button (click)="open('password')" class="btn btn-sm btn-outline-secondary btn-block"><i
                    class="fa fa-pencil mr-2"></i>Edit Your Password</button>
            </div>
        </div>
        <div id="user-profile-right">
            <button [routerLink]="['/user/schedule']"
                class="btn btn-lg btn-outline-success btn-block mb-4"><i class="fa fa-calendar mr-2"></i>Upcoming Schedule</button>
            <div id="your-mentors-card" class="card mb-4 border-success">
                <div class="card-header bg-success border-success">Your Mentors</div>
                <div class="card-body">
                    <div class="mentors-img-list">
                        <div class="d-flex justify-content-between mb-4">
                            <a *ngFor="let mentor of userInfo?.mentors" class="card border-info mentor-img mr-5 p-2"
                                [routerLink]="['/mentorship', mentor.mentor._id]">
                                <img class="rounded-circle" width="100px" [src]="mentor.mentor.user.picture"
                                    [alt]="mentor.mentor.user.firstName + ' ' + mentor.mentor.user.lastName">
                                <p>{{mentor.mentor.user.firstName}} {{mentor.mentor.user.lastName}}</p>
                            </a>
                            <button *ngIf="!userInfo?.mentors?.length" class="btn btn-primary"
                                [routerLink]="['/mentorship']">Find a Mentor</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="continue-education-card" class="card border-success">
                <div class="card-header bg-success border-success">Continuing Education</div>
                <div class="card-body">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link pointer" (click)="changeContent('progress')"
                                [ngClass]="{'active': isProgress()}">CE Credit Progress</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pointer" (click)="changeContent('current')"
                                [ngClass]="{'active': isCurrent()}">Current Courses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pointer" (click)="changeContent('completed')"
                                [ngClass]="{'active': isCompleted()}">Courses Completed</a>
                        </li>
                    </ul>
                    <div class="p-5">
                        <div *ngIf="continuingEducationContent === 'progress'">
                            <div *ngIf="userInfo?.title === 'Vet Tech' || userInfo?.title === 'Veterinarian' && userInfo.state && userInfo.state !== 'Other'" >
                                <p>Credit Completed: {{completed_courses?.length}}</p>
                                <p>Credit Requirement: {{state_requirements[userInfo?.state][userInfo?.title].hours}} over {{state_requirements[userInfo?.state][userInfo?.title].years}} years</p>
                            </div>
                        </div>
                        <div *ngIf="continuingEducationContent === 'current'"
                            class="horizontal-scroll mb-4">
                            <div *ngFor="let accreditation of current_courses" class="d-inline-block align-top mr-2">
                                <div class="class-card d-flex flex-column justify-content-between text-center card border-info p-2">
                                    <a [routerLink]="['/courses', accreditation.webinar._id]">
                                        <img class="mw-100 rounded" [src]="accreditation.webinar.img"
                                            [alt]="accreditation.webinar.title">
                                        <p>{{accreditation.webinar.title | slice: 10}}</p>
                                    </a>
                                    <button class="btn btn-sm btn-block btn-outline-success"
                                        (click)="completeCourse(accreditation._id)"><i class="fa fa-check"
                                            aria-hidden="true"></i>&nbsp;Add To Complete</button>
                                </div>
                            </div>
                            <button *ngIf="!current_courses?.length" class="btn btn-primary"
                                [routerLink]="['/courses']">Find a Course</button>
                        </div>
                        <div *ngIf="continuingEducationContent === 'completed'"
                            class="horizontal-scroll mb-4">
                            <div *ngFor="let accreditation of completed_courses" class="d-inline-block align-top mr-2">
                                <div class="class-card d-flex flex-column justify-content-between text-center card border-info p-2">
                                    <a [routerLink]="['/courses', accreditation.webinar._id]">
                                        <img class="mw-100 rounded" [src]="accreditation.webinar.img"
                                            [alt]="accreditation.webinar.title">
                                        <p>{{accreditation.webinar.title | slice: 10}}</p>
                                    </a>
                                    <button class="btn btn-sm btn-block btn-outline-danger btn-wrap"
                                        (click)="incompleteCourse(accreditation._id)"><i class="fa fa-times"
                                            aria-hidden="true"></i>&nbsp;Not Quite Complete Yet</button>
                                </div>
                            </div>
                            <button *ngIf="!completed_courses?.length" class="btn btn-primary"
                                [routerLink]="['/courses']">Find a Course</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- mentor section -->
    <div *ngIf="userInfo?.mentor_id" class="card border-primary">
        <div class="d-flex justify-content-between p-4">
            <div id="mentee-list" class="border-right pr-4 mr-4 w-50">
                <div class="border-bottom pb-2 mb-4">Your Mentees</div>
                <div class="d-flex justify-content-start flex-wrap">
                    <div id="mentee-img" class="card border-info mr-2 mb-2" *ngFor="let mentee of mentees">
                        <a class="m-2 text-center" [href]="'mailto:'+mentee.user.email" >
                            <img class="rounded-circle w-100" [src]="mentee.user.picture"
                                [alt]="mentee.user.firstName + ' ' + mentee.user.lastName">
                            <span>{{mentee.user.firstName | slice: 15}} {{mentee.user.lastName | slice: 15}}</span>
                        <div class="btn-group w-100" role="group">
                            <button class="btn btn-sm btn-danger" (click)="declineMentee(mentee._id)"><i
                                    class="fa fa-times" aria-hidden="true"></i></button>
                        </div>
                        </a>
                    </div>
                    <h6 *ngIf="mentees?.length === 0">You don't have any mentees yet.</h6>
                </div>
            </div>
            <div id="pending-mentees" class="w-50">
                <div class="border-bottom pb-2 mb-4">New Mentee Requests</div>
                <div class="d-flex justify-content-start flex-wrap">
                    <div id="mentee-img" class="card border-info mr-2 mb-2" *ngFor="let mentee of mentee_applications">
                        <a class="m-2 text-center" [href]="'mailto:'+mentee.user.email" >
                            <img class="rounded-circle w-100 mb-2" [src]="mentee.user.picture"
                                [alt]="mentee.user.firstName + ' ' + mentee.user.lastName">
                            <span>{{mentee.user.firstName | slice: 15}} {{mentee.user.lastName | slice: 15}}</span>
                            <div class="btn-group w-100" role="group">
                                <button class="btn btn-sm btn-success" (click)="approveMentee(mentee._id)"><i
                                        class="fa fa-check" aria-hidden="true"></i></button>
                                <button class="btn btn-sm btn-danger" (click)="declineMentee(mentee._id)"><i
                                        class="fa fa-times" aria-hidden="true"></i></button>
                            </div>
                        </a>
                    </div>
                    <h6 *ngIf="mentee_applications?.length === 0">You don't have any new mentee requests.</h6>
                </div>
            </div>
        </div>
    </div>
</div>