<div class="modal-header">
  <h2 class="modal-title">Donate</h2>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()('click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)" class="checkout" id="payment-form">

  <h2>Billing Information</h2>
  <div class="modal-body container">
    <div class="row">

      <div class="form-control col">
        <label class="name">Name</label>
          <input name="name" class="form-control" placeholder="Jenny Rosen" [(ngModel)]="extraData.name" required>
      </div>

      <div class="form-control col">
        <label class="email">Email</label>
        <input name="email" type="email" class="form-control" placeholder="jenny@example.com" [(ngModel)]="extraData.email" required>
    </div>
    </div>

    <div class="row">
      <div class="form-control col">
        <label class="address">Address</label>
          <input name="address" class="form-control" placeholder="185 Berry Street Suite 550" [(ngModel)]="extraData.address_line1" required>
      </div>
    </div>

    <div class="row">
      <div class="form-control col">
        <label class="city">City</label>
          <input name="city" class="form-control" placeholder="Seattle" [(ngModel)]="extraData.address_city" required>
      </div>

      <div class="form-control col">
        <label class="select">State</label>
        <select name="State" class="form-control" placeholder="Washington" name="extraData.address_state" [(ngModel)]="extraData.address_state" required>
          <option value="AL"> Alabama </option>
          <option value="AK"> Alaska </option>
          <option value="AZ"> Arizona </option>
          <option value="AR"> Arkansas </option>
          <option value="CA"> CA </option>
          <option value="CO"> Colorado </option>
          <option value="CT"> Connecticut</option>
          <option value="DE"> Delaware</option>
          <option value="FL"> Florida</option>
          <option value="GA"> Georgia</option>
          <option value="HI"> Hawaii</option>
          <option value="ID"> Idaho</option>
          <option value="IL"> Illinois</option>
          <option value="IN"> Indiana</option>
          <option value="IA"> Iowa</option>
          <option value="KS"> Kansas</option>
          <option value="KY"> Kentucky</option>
          <option value="LA"> Louisiana</option>
          <option value="ME"> Maine</option>
          <option value="MD"> Maryland</option>
          <option value="MA"> Massachusetts</option>
          <option value="MI"> Michigan</option>
          <option value="MN"> Minnesota</option>
          <option value="MS"> Mississippi</option>
          <option value="MO"> Missouri</option>
          <option value="MT"> Montana</option>
          <option value="NE"> Nabraska</option>
          <option value="NV"> Nevada</option>
          <option value="NH"> New Hampshire</option>
          <option value="NJ"> New Jersey</option>
          <option value="NM"> New Mexico</option>
          <option value="NY"> New York</option>
          <option value="NC"> North Carolina</option>
          <option value="ND"> North Dakota</option>
          <option value="OH"> Ohio</option>
          <option value="OK"> Oklahoma</option>
          <option value="OR"> Oregon</option>
          <option value="PA"> Pennsylvania</option>
          <option value="RI"> Rhode Island</option>
          <option value="SC"> South Carolina</option>
          <option value="SD"> South Dakota</option>
          <option value="TN"> Tennessee</option>
          <option value="TX"> Texas</option>
          <option value="UT"> Utah</option>
          <option value="VT"> Vermont</option>
          <option value="VA"> Virginia</option>
          <option value="WA"> Washington</option>
          <option value="WV"> West Virginia</option>
          <option value="WI"> Wisconsin</option>
          <option value="WY"> Wyoming</option>
          </select>
      </div>

      <div class="form-control col">
        <label class="zip">Zip</label>
          <input name="address_zip" class="form-control" placeholder="94107" [(ngModel)]="extraData.address_zip" required>
      </div>
    </div>
    
  </div>
 <div><hr class="seperation"></div>
  
  <div class="form-row">
    <label for="card-info">Credit or debit card</label>
    <div id="card-info" style="width:100%" #cardInfo></div>
    <div id="card-errors" role="alert" style="color:red" *ngIf="error">{{ error }}</div>
  </div>
  <span>Amount</span>
  <input name="amount" class="form-control" placeholder="100.00" [(ngModel)]="amount" required>
  <button type="submit">${{amount}} Donate Now </button>
</form>