<!-- page under construction template -->
<ng-template #donate>
  <app-donation></app-donation>
</ng-template>

<ng-template #paymentSuccess>
  <div class="modal-header">
    <h2>Donation Successful</h2>
  </div>
  <div class="modal-body">
    <p>Thank you for donating to our cause!</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-danger" (click)="modal.dismiss('exit')">Exit</button>
  </div>
</ng-template>
<section id="section-support" class="container">
  <div class="jumbotron d-flex justify-content-end">
    <div id="support-text" class="mr-3 p-5 text-light">
        <h1 class="text-light">Ways to Support MightyVet</h1>
        <p>As a non-profit, we rely partially on donations to keep the lights on. But there many ways you can support MightyVet’s mission. We are always grateful to receive alternate methods of support - things like time, services, or anything else. Please contact us at <a href="mailto:info@mightyvet.com">info@mightyvet.com</a> to let us know you’d like to help.</p>
        <p>If you’d like to make a monetary donation now, use the button below!</p>
        <button class="btn btn-primary" (click)="open('donate')">DONATE</button>
    </div>
  </div>
</section>
