<ng-template #popContent>
  <div class="container">
    <div class="img-ctn">
      <img [src]="model.img" [alt]="model.title+' '+model.firstName+' '+model.lastName">
    </div>
    <h4>About the Speaker</h4>
    <p>{{model.description}}</p>
  </div>
</ng-template>
<ng-template #popTitle>
  <div class="container">
    {{model.title}} {{model.firstName}} {{model.lastName}}
  </div>
</ng-template>
<h6 triggers="mouseenter:mouseleave" [ngbPopover]="popContent" [popoverTitle]="popTitle" placement="left">
  {{model.title}} {{model.firstName}} {{model.lastName}}
</h6>