/* jumbotron */
#top_image {
    width: 100%;
}
/* left side */
.left_filter{
    width: 15%;
}
.apply_button{
    background: #627894;
    border-radius: 5px;
    color: white;
}
.main_cards .card {
    width: 30%;
}