<section id="courses-welcome" class="container">
  <div class="jumbotron d-flex justify-content-start align-items-end">
    <div id="welcome-text" class="mr-3 p-5 text-light">
        <h1 class="text-light">Find your perfect course</h1>
        <p class="mb-0">MightyVet offers continuing education, mentorship and mental health support. We're here for vets, techs, students, and anyone else involved in the veterinary profession.</p>
    </div>
  </div>
</section>

<!-- search bar -->
<section id="search-bar" class="container mb-3">
  <h1 class="mb-3">Browse Courses</h1>
  <div id="search-bar" class="input-group mb-3">
    <input type="text" class="form-control border-dark" placeholder="Search..." aria-label="coursesSearch"
      aria-describedby="coursesSearch">
    <div class="input-group-append border-dark">
      <button class="btn btn-dark" type="button" id="coursesSearch"><i class="fa fa-search"></i></button>
    </div>
  </div>
</section>
<!-- search filters -->
<section id="search-filters" class="container d-flex flex-lg-row flex-md-column flex-sm-column justify-content-between mb-3">
    <h6>Refine results by:&nbsp;</h6>
    <div class="input-group date-filter">
      <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
      <div class="input-group-append">
        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
      </div>
    </div>
    <div>
      <div class="custom-control custom-checkbox custom-control-inline">
        <input type="checkbox" id="checkbox1" name="checkbox1" class="custom-control-input">
        <label class="custom-control-label" for="checkbox1">Management</label>
      </div>
      <div class="custom-control custom-checkbox custom-control-inline">
        <input type="checkbox" id="checkbox2" name="checkbox2" class="custom-control-input">
        <label class="custom-control-label" for="checkbox2">Communication</label>
      </div>
      <div class="custom-control custom-checkbox custom-control-inline">
        <input type="checkbox" id="checkbox3" name="checkbox3" class="custom-control-input">
        <label class="custom-control-label" for="checkbox3">Medical</label>
      </div>
      <div class="custom-control custom-checkbox custom-control-inline">
        <input type="checkbox" id="checkbox4" name="checkbox4" class="custom-control-input">
        <label class="custom-control-label" for="checkbox4">Technical</label>
      </div>
    </div>

</section>

<section id="course-cards" class="container">
  <div class="d-flex flex-lg-row flex-md-row flex-sm-column justify-content-between flex-wrap">
    <div *ngFor="let course of allCourses | search : featuredNumber" class="card mb-4">  <!-- search pipe to limit number of entries -->
      <img [src]="course.img" class="card-img-top" alt="Course Image">
      <div class="card-body">
        <h5 class="card-title">{{course.title | slice: 40}}</h5>
        <p class="card-text">{{course.description | slice: 100}}</p>
        <a class="card-link" [routerLink]="['/courses',course._id]">READ MORE&nbsp;&nbsp;<i
            class="fa fa-arrow-right"></i></a>
      </div>
    </div>
  </div>
  <div class="text-center">
      <button type="button" class="btn btn-light btn-lg" (click)="seeMore()">SEE MORE&nbsp;&nbsp;<i class="fa fa-chevron-down"></i></button>
  </div>
</section>
<!-- search bar
<div class="container my-4">
  <div id="search-bar" class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text bg-dark border-dark text-light">SEARCH COURSES</span>
    </div>
    <input type="text" class="form-control border-dark" placeholder="Enter a course name" aria-label="coursesSearch"
      aria-describedby="coursesSearch">
    <div class="input-group-append border-dark">
      <button class="btn btn-dark" type="button" id="coursesSearch"><i class="fa fa-search"></i></button>
    </div>
  </div>
</div>
<div class="container d-flex flex-lg-row flex-md-column flex-sm-column justify-content-between">
  filters
  <div class="left_filter mr-3">
    <p>Filter Results</p>
    <p>View by Date</p>
    <div class="calendar">
      <img src="../../assets/img/courses/calendar.png" alt="calendar">
    </div>
    <br />

    <form>
      <label>Area of study <br />
        <input type="checkbox"> Management <br />
        <input type="checkbox"> Communication <br />
        <input type="checkbox"> Medical <br />
        <input type="checkbox"> Technical <br />
      </label>

      <label>Learning Format <br />
        <input type="checkbox"> Webinar <br />
        <input type="checkbox"> In-Person <br />
      </label>

      <label>Credits <br />
        <input type="checkbox"> Credited <br />
        <input type="checkbox"> Non-Credited <br />
      </label>

      <button class="apply_button">Apply</button>
      <a href="clear">Clear Filters</a>
    </form>


  </div>

  view of all courses
  <div class="main_cards flex-wrap d-flex flex-lg-row flex-md-column flex-sm-column justify-content-between">
    set *ngFor= "let c of allCourses" when data ready
    <div class="card mr-4 mb-4">
      <img src="../../assets/img/courses/courseimg1.png" class="card-img-top" alt="course image">
      <div class="card-body">
        <h5 class="card-title">{{course.title}}</h5>
        <p class="card-text">{{course.description}}</p>
        <a class="card-link" [routerLink]="['/courses/details']">READ MORE&nbsp;&nbsp;<i
            class="fa fa-arrow-right"></i></a>
      </div>
    </div>

    static dummy cards for now
    <div class="card mr-4 mb-4">
      <img src="../../assets/img/courses/courseimg2.png" class="card-img-top" alt="course image">
      <div class="card-body">
        <h5 class="card-title">{{course.title}}</h5>
        <p class="card-text">{{course.description}}</p>
        <a class="card-link" [routerLink]="['/courses/details']">READ MORE&nbsp;&nbsp;<i
            class="fa fa-arrow-right"></i></a>
      </div>
    </div>

    <div class="card mr-4 mb-4">
      <img src="../../assets/img/courses/courseimg3.png" class="card-img-top" alt="course image">
      <div class="card-body">
        <h5 class="card-title">{{course.title}}</h5>
        <p class="card-text">{{course.description}}</p>
        <a class="card-link" [routerLink]="['/courses/details']">READ MORE&nbsp;&nbsp;<i
            class="fa fa-arrow-right"></i></a>
      </div>
    </div>

    <div class="card mr-4 mb-4">
      <img src="../../assets/img/courses/courseimg4.png" class="card-img-top" alt="course image">
      <div class="card-body">
        <h5 class="card-title">{{course.title}}</h5>
        <p class="card-text">{{course.description}}</p>
        <a class="card-link" [routerLink]="['/courses/details']">READ MORE&nbsp;&nbsp;<i
            class="fa fa-arrow-right"></i></a>
      </div>
    </div>

    <div class="card mr-4 mb-4">
      <img src="../../assets/img/courses/courseimg5.png" class="card-img-top" alt="course image">
      <div class="card-body">
        <h5 class="card-title">{{course.title}}</h5>
        <p class="card-text">{{course.description}}</p>
        <a class="card-link" [routerLink]="['/courses/details']">READ MORE&nbsp;&nbsp;<i
            class="fa fa-arrow-right"></i></a>
      </div>
    </div>

    <div class="card mr-4 mb-4">
      <img src="../../assets/img/courses/courseimg6.png" class="card-img-top" alt="course image">
      <div class="card-body">
        <h5 class="card-title">{{course.title}}</h5>
        <p class="card-text">{{course.description}}</p>
        <a class="card-link" [routerLink]="['/courses/details']">READ MORE&nbsp;&nbsp;<i
            class="fa fa-arrow-right"></i></a>
      </div>
    </div>

  </div>
</div>
<div class="text-center">
  <button type="button" class="btn btn-light btn-lg">SEE ALL&nbsp;&nbsp;<i class="fa fa-chevron-down"></i></button>
</div> -->