/* welcome */
.jumbotron {
    width: 100%;
    min-height: 450px;
    filter: grayscale(30%);
    background-image: url('../../assets/img/stock_photos/manuel-meza-1457690-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 2rem 2rem;
}
#welcome-text {
    background-color: rgba(40, 40, 40, 0.55);
    width: 700px;
    border-bottom: 5px solid #7290cd;
}

.date-filter {
    width: 200px;
}
@media only screen and (min-width: 768px){
    #course-cards .card {
        width: 48.6%;
    }
}
@media only screen and (min-width: 992px){
    #course-cards .card {
        width: 32%;
    }
}