
<div class="parallax-mirror" style="visibility: visible; z-index: -100; position: fixed; top: 0px; left: 0px; overflow: hidden; transform: translate3d(0px, 0px, 0px); height: 850px; width: 1416px;"><img class="parallax-slider" src="/assets/images/splash_2.jpg" style="transform: translate3d(0px, 0px, 0px); position: absolute; top: -236px; left: 0px; height: 943px; width: 1416px; max-width: none;"></div>
<nav class="navbar navbar-expand-sm">
  <img class="logo" src="assets/img/MVlogo.PNG" alt="MightyVet logo">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <a class="nav-link active" [routerLink]="['']"><i class="fas fa-home"></i>About</a>
              <a class="nav-link active" [routerLink]="['/courses']"><i class="fas fa-search"></i>Courses</a>
              <a class="nav-link active" [routerLink]="['/mentorship']"><i class="fas fa-building"></i>Mentorship</a>
              <a class="nav-link" [routerLink]="['/resources']"><i class="fas fa-edit"></i>Resources</a>
              <a class="nav-link" [routerLink]="['/user']"><i class="fas fa-user-tie"></i>Profile</a>
  </div>
</nav>