/* local css */
.text-link{
    cursor: pointer;
}


#logo {
    width: 110px;
    cursor: pointer;
}
.navbar-collapse .nav-link {
    padding: .6rem 1.5rem;
}
.navbar-collapse .navigation{
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
}
.navbar .nav-item {
    cursor: pointer;
}
.navbar .nav-item a{
    color: #435c8e;
}
.navbar .nav-item:hover {
    background-color: rgb(233, 233, 233);
}
.navbar .nav-item a:hover {
    color: #7DA7D9;
}
.navbar .activated{
    background-color: #435c8e;
}
.navbar .activated a{
    color: white;
}
.close:focus{
    outline: 0;
}
#dog{
    max-width: 28px;
}
.dropdown-toggle::after {
    display:none;
}

@media only screen and (max-width:991px){
    #logo {
        width: 85px;
    }
}
@media only screen and (max-width:576px){
    #welcome-text h1 {
        font-size: 2em;
    }
    #newsletter .flex-sm-column {
        flex-direction: column;
    }
    #welcome-text p {
        font-size: 1em;
    }
}
