.logo{
    height: 100px;
    border-radius: 5px;
}
.navbar li{
    padding: 10px;
}
.navbar{
    margin: 0px;
    background-color: #0c0c0c;
    opacity: 0.9;

}
.navbar a {
    padding: 10px;
    color: rgb(250, 249, 249);
    font-size: 20px;
}
.navbar li:hover{
    background-color: rgb(0, 123, 255);
    border-radius: 8px;
}
.navbar a:hover{
    color:white;
}
.navbar img {
    margin-right:3%;
}
