/* local css */
#profile_img i{
    margin-right: 5px;
    width: 32px;
}
a.link_text{
    text-decoration: underline;
    color: #395371;
    cursor: pointer;
}
.errors{
    color: red;
}
.close:focus{
    outline: 0;
}
.navigation{
    box-shadow: inset 0px 2px 0px #ECECEC, inset 0px -2px 0px #ECECEC;
}
.collapse{
    margin-top: 10px;
}
.dog{
    margin-left: 5px;
    max-width: 32px;
}
#log-in{
    border: solid transparent 3px;
    cursor: pointer;
}
#logout{
    border: solid #92dac3 3px;
    cursor: pointer;
}
#logout:hover{
    color: white;
    background-color: #92dac3;
}
#log-in:hover{
    background-color: #7DA7D9;
    border: solid #7DA7D9 3px;
    color: white;
}
#sign-up{
    border: solid #92dac3 3px;
    cursor: pointer;
}
#sign-up:hover{
    color: white;
    background-color: #92dac3;
}
.navbar .nav-link{
    padding: 10px 15px;
}
.navbar a{
    color: #395371;
}
.navbar .nav-item {
    cursor: pointer;
    padding:0;
}
.navbar .nav-item:hover{
    background-color: #7DA7D9;
}
.navbar .nav-item:hover a{
    color: white;
}
.navbar .activated{
    background-color: #7DA7D9;
}
.navbar .activated a{
    color: white;
}
@media only screen and (min-width: 992px) {
    .navbar{
        position: relative;

    }
}
@media only screen and (max-width: 991px) {

    .navbar {
        background: #fff;
    }
    #logo img{
        margin-top: 0;
        height: 60px;
    }
}