<nav class="navbar navbar-expand-sm">
  <img class="logo" src="assets/img/nav-bar/logo.png" alt="MightyVet logo" [routerLink]="['']">
  <div>
    <div class="login" *ngIf="!loggedin">
      <a id="login" (click)="login()">LOG IN</a>
      <a id="signup" (click)="signup()">SIGN UP</a>
      <img class="dog" alt="dog" src="assets/img/nav-bar/dog.png">
    </div>
    <div class="profile" *ngIf="loggedin">
      <img class="profile_img" alt="profile_img" src="assets/img/nav-bar/profile.png" [routerLink]="['/profile']">
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link active" [routerLink]="['/courses']">Online Learning</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/mentorship']">Mentorship</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/resources']">Resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/blog']">Blog</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" [routerLink]="['/support']">Support Us</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" [routerLink]="['/about']">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
