.navbar{
    padding: 10px 0;
}
.navbar-nav{
    box-shadow: inset 0px 2px 0px #ECECEC, inset 0px -2px 0px #ECECEC;
}
.collapse{
    margin-top: 10px;
}
.logo{
    height: inherit;
    cursor: pointer;
}
.dog{
    margin-left: 5px;
    height:35px;
}
.login{
    margin-bottom: 10px;
}
.login a{
    padding: 5px;
    margin: 0 2px;
}
#login{
    border: solid transparent 3px;
    border-radius: 5px;
}
#login:hover{
    background-color: #7DA7D9;
    border: solid #7DA7D9 3px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
#signup{
    border: solid #92dac3 3px;
    border-radius: 5px;
}
#signup:hover{
    color: white;
    background-color: #92dac3;
    cursor: pointer;
}
.profile{
    margin-left:95%;
    margin-bottom: 5px;
}
.profile_img{
    height: 35px;
}
.navbar li{
    padding: 10px;
}
.navbar{
    margin: 0px;
    background-color: white;
}
.navbar a{
    color: #395371;
}
.navbar .nav-item{
    font-size: 16px;
}
.navbar .nav-item:hover{
    background-color: #7DA7D9;
}
.navbar .nav-item:hover a{
    color: white;
}
@media only screen and (min-width: 992px) {
    .navbar{
        position: relative;
    }
}
@media only screen and (max-width: 991px) {
    .logo{
        margin-right: 10px;
        height: 70px;
    }
    .logo-ctn{
        width: 100px;
    }
    .log-ctn{
        padding: 0;
    }
    .login{
        margin-left: 0;
    }
    .dog{
        margin-right: 10px;
    }
}
@media only screen and (max-width: 380px) {
  .login a{
    font-size: 12px;
  }
}