<!-- page under construction template -->
<div class="container d-flex justify-content-center pt-5">
  <i class="fa fa-paw fa-5x mr-3 text-info fa-7x"></i>
  <div class="text-info">
    <h1>Coming Soon</h1>
    <h3>This page is under construction</h3>
    <button class="btn btn-outline-info" [routerLink]="['/']">Return to Home</button>
  </div>
</div>
  
<!-- <div class="container d-flex justify-content-center pt-5">
  <i class="fa fa-paw fa-5x mr-3 text-info"></i>
  <div class="text-info">
    <h1>Resource</h1>
    <h3>We'd Love to provide the resources that maybe help your career</h3>

    <div class="Study-filter-box">
        <p>Area of Study</p>
      <input type="checkbox" name="study1" value="Lorem1">Lorem<br>
      <input type="checkbox" name="study2" value="Lorem2">Lorem<br>
      <input type="checkbox" name="study3" value="Lorem3" checked>Lorem<br><br>
    </div>
    <div class="Format-filter-box">
        <p>Format</p>
          <input type="checkbox" name="Format1" value="PDF">PDF<br>
          <input type="checkbox" name="Format2" value="Video">Video<br><br>
    </div>
    <div class="list-Container">
    <img src = "/assets/img/resource_page/resoucedog.jpg">
    <h4>Title</h4>
    <p>skdjfoiwineoifnsuhoidnfois</p>
    </div>
    <button class="btn btn-outline-info" [routerLink]="['/']">Return to Home</button>
    
      
  </div>
  
</div> -->
