<div class="container">
    <div class="row top">
        <div class="col-4 user-info">
            <h1 *ngIf=userInfo class="user-info__greeting">Hi {{userInfo.firstName}}!</h1>
            <div class="user-info__image">
                <div class="holder-image">
                    <img class="profile-picture" *ngIf=!userInfo.picture src="../../assets/userDefault.jpeg" alt="Profile Picture">
                    <img class="profile-picture" *ngIf=userInfo.picture [src]="userInfo.picture" alt="Profile Picture">
                </div>
                <div class="user-info__edit-section">
                    <button (click)="jumpToEdit()" class="user-info__edit-button">edit profile</button>
                </div>
            </div>
            <div class="user-info__events">
                <h6 class="user-info__events-title">This Week</h6>
            </div>
            <div class="user-info__button clear-button__div">
                <button>View All --></button>
            </div>
        </div>
        <div class="col-8 messages" >
            <div class="row inbox">
                <h1 class="inbox-header">Inbox</h1>
                <div class="inbox-content">
                    <h2 class="inbox-content__header">New Mentor Request</h2>
                    <div class="inbox__mentor-request">
                        <div class="clear-button__div">
                            <button (click)="allRequests()">All Requests --></button>
                        </div>

                    <!-- displays all the users requests -->
                    <div *ngIf="userInfo.requests">
                        <div class="requests" ngFor="request in userInfo.requests">
                            {{request}}
                        </div>
                    </div>

                    </div>
                    <h2 class="inbox-content__header">Messages</h2>
                    <div class="inbox__messages">
                        <div class="clear-button__div">
                            <button (click)="allMessages()">All Messages --></button>
                        </div>
                    </div>

                    <!-- display all the users messages -->
                    <div *ngIf="userInfo.messages">
                        <div class="messages" ngFor="message in userInfo.messages">
                            {{message}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row education">
                <h1 class="education-header">Continuing Education</h1>
                <div class="education-main">
                    <div class="education-main__nav">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link" (click)="continuingEducation('progress')" >CE Credit Progress</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" (click)="continuingEducation('courses_available')" >Courses Available</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" (click)="continuingEducation('courses_complete')" >Courses Complete</a>
                            </li>
                        </ul>
                    </div>
                    <div class="education-main__content align-middle">
                        <div class="education-main__content-changeable" *ngIf=continuingEducationContent>
                            <p>{{continuingEducationContent}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row bottom">
        <div id="Bot" class="col-5 edit-profile">
            <h3 class="edit-profile__title">Settings</h3>
            <form class="edit-profile__form">
                <div class="form-row">
                    <label class="form-label" for="">Update email address</label>
                    <input 
                        type="email" 
                        class="form-input form-control col" 
                        placeholder="enter email address" 
                        name="userInfo.email"
                        [(ngModel)]="userInfo.email">
                </div>
                <div class="form-row">
                    <label class="form-label" for="">Update password</label>
                    <input 
                        type="password" 
                        class="form-input form-control col" 
                        placeholder="enter new password" 
                        name="userInfo.password"
                        [(ngModel)]="userInfo.password">
                </div>
                <div class="form-row">
                    <label class="form-label" for="">Change username</label>
                    <input 
                        type="text" 
                        class="form-input form-control col" 
                        placeholder="change username" 
                        name="userInfo.title"
                        [(ngModel)]="userInfo.title">
                </div>
                <div class="form-row">
                    <label class="form-label" for="">Image Url</label>
                    <input 
                        type="text" 
                        class="form-input form-control col" 
                        placeholder="change image Url" 
                        name="userInfo.picture"
                        [(ngModel)]="userInfo.picture">
                </div>
                <div class="modal-footer">
                    <button class="delete" (click)="deleteUser()">delete account</button>
                    <button class="saveChanges" (click)="updateUser()">save changes</button>
                </div>
            </form>
        </div>
        <div class="col-6">
            <div class="row">
                <h1>Alerts</h1>
                <form class="alerts__form">
                    <div class="form-row">
                        <input type="checkbox" class="checkboxes" (click)="supportBox('Mental Health')">
                        <label for="">Send Email When You Receive a New Message or Mentor Request</label>
                    </div>
                    <div class="form-row">
                        <input type="checkbox" class="checkboxes" (click)="supportBox('Mental Health')">
                        <label for="">Send When You Receive a New Message or Mentor Request</label>
                    </div>
                </form>
            </div>
            <div class="row">
                <h1>Profile Status</h1>
                <form class="profile-status__form">
                    <div class="form-row">
                        <input type="checkbox" class="checkboxes" (click)="supportBox('Mental Health')">
                        <label for=""> Active (Public)</label>
                        <input type="checkbox" class="checkboxes" (click)="supportBox('Mental Health')">
                        <label for="">Not Active (Hidden)</label>
                    </div>
                </form>              
            </div>
        </div>
    </div>
    <button (click)="topFunction()" id="myBtn" title="Go to top">Top</button>
</div>