<footer class="pt-5 mt-5 border-top bg-primary text-center">
  <div class="d-flex justify-content-around flex-lg-row flex-md-column flex-sm-column">
    <div class="mb-3">
      <img class="mb-3" src="assets/img/footer/white_logo.png" alt="logo" width="80px">
      <h6 class="text-light">CPR for the Veterinary Soul &trade;</h6>
    </div>
    <div class="mb-3 order-lg-first fixed-lg-width">
      <h5 class="text-light">Contact</h5>
      <ul class="list-unstyled text-small">
        <li><span class="text-light">Email:&nbsp;&nbsp;</span><a class="text-light" href="mailto:info@mightyvet.com">info@mightyvet.com</a></li>
        <li><span class="text-light">Phone:&nbsp;&nbsp;</span><a class="text-light" href="tel:+12066071878">206.607.1878</a></li>
        <li><span class="text-light">Address:&nbsp;&nbsp;</span><a class="text-light" href="https://www.google.com/maps/place/6100+4th+Ave+S+%23200,+Seattle,+WA+98108/@47.5469551,-122.3310618,17z/data=!3m1!4b1!4m8!1m2!2m1!1s6100+4th+Ave.+S.,+Suite+200+Seattle,+WA+98108+Resources+Press+Release+Terms+of+Service+Privacy+Policy!3m4!1s0x54904195b6cde715:0xca85bc5413d22885!8m2!3d47.5469551!4d-122.3288731">6100 4th Ave. S.,<br>Suite 200 Seattle, WA 98108</a></li>
      </ul>
    </div>
    <div class="mb-3 fixed-lg-width">
      <h5 class="text-light">Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-light" href="assets/pdf/press_release.pdf" download>Press Release</a></li>
        <li><a class="text-light" href="assets/pdf/website_terms_and_conditions.pdf" download>Terms of Service</a></li>
        <li><a class="text-light" href="assets/pdf/privacy_policy_mightyvet.pdf" download>Privacy Policy</a></li>
      </ul>
    </div>
  </div>
  <div class="bg-black py-3"> 
    <div>
      <a class="mr-2 text-light" href="https://www.facebook.com/mightyvet"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>
      <a class="mr-2 text-light" href="https://twitter.com/realmightyvet"><i id="social-tw" class="fa fa-twitter-square fa-2x social"></i></a>
      <!-- <a class="mr-2 text-light" href="#"><i id="social-in" class="fa fa-instagram fa-2x social"></i></a> -->
      <a class="mr-2 text-light" href="https://www.linkedin.com/company/mightyvet"><i id="social-li" class="fa fa-linkedin-square fa-2x social"></i></a>
      <a class="mr-2 text-light" href="https://www.youtube.com/channel/UCu39sWpBIRWNh-NlU5j_6Gw"><i id="social-li" class="fa fa-youtube-square fa-2x social"></i></a>
    </div>
    <small class="text-white">MightyVet &copy; 2019</small>
  </div>
</footer>