<footer class="pt-4 my-md-5 pt-md-5 border-top bg-dark">
    <div class="row">
      <div class="footer-img col-12 col-md ml-5">
        <img class="mb-3" src="assets/img/footer/white_logo.png" alt="logo" width="80px">
        <h6 class="text-light">CPR for the Veterinary Soul &trade;</h6>
        <small class="d-block mb-3 text-muted">&copy; 2019</small>
      </div>
      <div class="col-6 col-md">
        <h5 class="text-light">Contact</h5>
        <ul class="list-unstyled text-small">
          <li><span class="text-light">Email:&nbsp;&nbsp;</span><a class="text-light" href="mailto:info@mightyvet.com">info@mightyvet.com</a></li>
          <li><span class="text-light">Phone:&nbsp;&nbsp;</span><span class="text-light">206.607.1878</span></li>
          <li><span class="text-light">Address:&nbsp;&nbsp;</span><span class="text-light">6100 4th Ave. S.,Suite 200 Seattle, WA 98108</span></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5 class="text-light">Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-light" href="#">Press Release</a></li>
          <li><a class="text-light" href="#">Terms of Service</a></li>
          <li><a class="text-light" href="#">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5 class="text-light">Follow Us</h5>
        <div class="">
          <a href="https://www.facebook.com/bootsnipp"><fa name="fa-facebook" animation="spin"></fa> <i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
          <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
          <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
          <a href="mailto:#"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
        </div>
        
      </div>
    </div>
  </footer>