.bg-black {
    background-color: #212121;
}
@media only screen and (min-width:992px){
    .fixed-lg-width{
        width: 250px;
    }
}
@media only screen and (max-width:576px){
    .flex-sm-column {
        flex-direction: column;
    }
}