.bg-black {
    background-color: #212121;
}

@media only screen and (max-width:991px){
    footer{
        text-align: center;
    }
}
@media only screen and (max-width:576px){
    .flex-sm-column {
        flex-direction: column;
    }
}