<footer class="py-5 mt-5 border-top bg-dark">
    <div class="d-flex justify-content-between flex-lg-row flex-md-column flex-sm-column">
      <div class="mx-5">
        <img class="mb-3" src="assets/img/footer/white_logo.png" alt="logo" width="80px">
        <h6 class="text-light">CPR for the Veterinary Soul &trade;</h6>
      </div>
      <div class="mx-5">
        <h5 class="text-light">Contact</h5>
        <ul class="list-unstyled text-small">
          <li><span class="text-light">Email:&nbsp;&nbsp;</span><a class="text-light" href="mailto:info@mightyvet.com">info@mightyvet.com</a></li>
          <li><span class="text-light">Phone:&nbsp;&nbsp;</span><span class="text-light">206.607.1878</span></li>
          <li><span class="text-light">Address:&nbsp;&nbsp;</span><span class="text-light">6100 4th Ave. S.,<br >Suite 200 Seattle, WA 98108</span></li>
        </ul>
      </div>
      <div class="mx-5">
        <h5 class="text-light">Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-light" href="#">Press Release</a></li>
          <li><a class="text-light" href="#">Terms of Service</a></li>
          <li><a class="text-light" href="#">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="mx-5">
        <h5 class="text-light">Follow Us</h5>
        <div class="">
          <a class="mr-2 text-light" href="#"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>
          <a class="mr-2 text-light" href="#"><i id="social-tw" class="fa fa-twitter-square fa-2x social"></i></a>
          <a class="mr-2 text-light" href="#"><i id="social-in" class="fa fa-instagram fa-2x social"></i></a>
          <a class="mr-2 text-light" href="#"><i id="social-li" class="fa fa-linkedin-square fa-2x social"></i></a>
          <a class="mr-2 text-light" href="#"><i id="social-li" class="fa fa-youtube-square fa-2x social"></i></a>
        </div>
        <small class="d-block mb-3 text-muted">&copy; 2019</small>
      </div>
    </div>
  </footer>