<div *ngIf="course">
  <div *ngIf="course._id">
    <!-- header -->
    <div class="container">
      <h1>{{course.title}}</h1>
      <img id="course_img" class="py-0 round" [src]="course.img"
        alt="Course Image">
    </div>

    <div class="container d-flex flex-wrap flex-column flex-lg-row">
      <!-- left main -->
      <div class="col-lg-8 p-0 p-lg-4 mb-2 mb-lg-0">
        <h3>{{course.title}}</h3>
        <p>{{course.description}}</p>
        <h4>Tags:</h4>
        <div>
          <span class="badge badge-info mr-1" *ngIf="course.category.business"> Business </span>
          <span class="badge badge-info mr-1" *ngIf="course.category.communication"> Communication </span>
          <span class="badge badge-info mr-1" *ngIf="course.category.mental_health"> Suicide </span>
          <span class="badge badge-info mr-1" *ngIf="course.category.well_being"> Ethics/Well-being </span>
          <span class="badge badge-info mr-1" *ngIf="course.category.university_life"> University Life </span>
          <span class="badge badge-info mr-1" *ngIf="course.category.career_path"> Career Path </span>
        </div>
      </div>

      <!-- right main -->
      <div class="col-lg-4 p-0 p-lg-4">     
        <div class="mb-2">
          <button *ngIf="!isSignedUp" class="btn btn-primary" (click)="signUp()">Sign up for this class</button>
          <a href="{{course.webinar_link}}"><button *ngIf="isSignedUp" class="btn btn-secondary">Go to course</button></a>
        </div>
        <div *ngIf="course.type == 'Live'">
          <h4>Class Date & Time</h4>
          <p>{{course.datetime | date:"MMMM dd y, hh:mma"}}</p>
        </div>
        <h4>Speakers</h4>
        <!-- <app-speaker-details [model]="course.speaker"></app-speaker-details> -->
        <!-- toggle speaker info -->
        <h6 *ngFor="let speaker of course.speakers">{{speaker.firstName}} {{speaker.lastName}}, {{speaker.title}}</h6> 
        <!-- signup or go to course -->
      </div>
    </div>
  </div>

<!-- invalid course id url-->
  <div *ngIf="!course._id" class="container d-flex justify-content-center pt-5">
    <i class="fa fa-paw fa-5x mr-3 text-info"></i>
    <div class="text-info">
      <h1>Whoops... How did you end up here?</h1>
      <h3>We couldn't find the course you were looking for</h3>
      <button class="btn btn-outline-info" [routerLink]="['/courses']">Return to Courses</button>
    </div>
  </div>
</div>