<div *ngIf="course">
  <div *ngIf="course._id">
    <div class="container">
      <h1>{{course.title}}</h1>
      <img id="course_img" class="py-0 round" [src]="course.img"
        alt="Course Image">
    </div>
    <div class="container d-flex flex-wrap flex-column flex-lg-row">
      <div class="col-lg-8 p-4">
        <p >{{course.description}}</p>
        <!-- toggle speaker info -->
        <h3 >Speaker</h3>
        <!-- <app-speaker-details [model]="course.speaker"></app-speaker-details> -->
        <button class="btn btn-link" (click)="toggle()"><p>
            {{course.speaker.title}} {{course.speaker.firstName}} {{course.speaker.lastName}} 
          <i *ngIf="!showSpeaker" class="fa fa-angle-double-down"></i>
          <i *ngIf="showSpeaker" class="fa fa-angle-double-up"></i>
        </p></button>
        <div  *ngIf="showSpeaker">
          <img class="speakerimg" [src]="course.speaker.img" alt="speaker's image">
          <p class="m-3">{{course.speaker.description}}</p>
        </div>
      </div>

      <div class="col p-4">        
        <h4>Class Type</h4>
        <p>{{course.type}}</p>
        <div *ngIf="course.type == 'Live'">
          <h4>Class Date & Time</h4>
          <p>{{course.datetime | date:"MMM-dd-y, hh:mma"}}</p>
        </div>

        <!-- signup or go to course -->
        <div>
          <button *ngIf="!isSignedUp" class="btn btn-primary" (click)="signUp()">Sign up for this class</button>
          <a href="{{course.webinar_link}}"><button *ngIf="isSignedUp" class="btn btn-secondary"> Go to course</button></a>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!course._id" class="container d-flex justify-content-center pt-5">
    <i class="fa fa-paw fa-5x mr-3 text-info"></i>
    <div class="text-info">
      <h1>Whoops... How did you end up here?</h1>
      <h3>We couldn't find the course you were looking for</h3>
      <button class="btn btn-outline-info" [routerLink]="['/courses']">Return to Courses</button>
    </div>
  </div>
</div>