.jumbotron {
    width: 100%;
    min-height: 450px;
    filter: grayscale(30%);
    background-image: url('../../assets/img/stock_photos/shutterstock_609423461.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 2rem 2rem;
}
#welcome-text {
    background-color: rgba(40, 40, 40, 0.55);
    width: 600px;
    border-bottom: 5px solid #7290cd;
}

/* Tier 1 - 3 */
.tier1 img{
    height:100px;
}
.tier2 img{
    height: 70px;
}
.tier3 img{
    height: 50px;
}


/* Show more / Shoe less */
.hide-show-mission {
    height:257px;
    overflow: hidden;
}
.hide-show-member-text {
    height:110px;
    overflow: hidden;
}
.show {
    overflow: visible;
    height: auto;
}

#board-members h5 {
    color: #666;
}
#board-members h4 {
    color: #444;
    font-weight: 800;
}
#board-members p {
    color: #666;
}

.member-img {
    min-width: 170px;
    height: 170px;
    overflow: hidden;
    border-radius: 50%;
}

/* add in extra media query for phone/tablet/laptop? */