.partners{
    padding: 15px 40px;
    text-align: center;
}
.tier1 img{
    height: 90px;
}
.tier2 img{
    height: 60px;
}
.tier3 img{
    height: 30px;
}
.header{
    margin-left: 40px;
}
.info{
    vertical-align: middle;
    display: inline-block;
    width: 50%;
}
.block{
    margin-left: 40px;
    margin-top: 10px;
}