// Your variable overrides
$theme-colors: (
  "primary":#435c8e,
  "danger": #e7607b,
  "info": #A8C9EF,
  "success": #95D9C3,
);

$font-family-sans-serif: "Montserrat", Roboto, "Helvetica Neue", Arial, sans-serif;

$link-color: #435c8e;
$link-hover-color: #A8C9EF;

// Bootstrap and its default variables
@import "../../node_modules/bootstrap/scss/bootstrap";