<ng-template #showAvailabilities>
  <div class="modal-header">
    <h2 class="modal-title">Your availabilities on {{date.format('dddd, D MMMM, YYYY')}} </h2>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('click')">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form>
    <div class="container modal-body d-flex justify-content-around">
      <div>
        <h3>AM</h3>
        <p>6:00</p>
        <p>6:30</p>
        <p>7:00</p>
        <p>7:30</p>
        <p>8:00</p>
        <p>8:30</p>
        <p>9:00</p>
        <p>9:30</p>
        <p>10:00</p>
        <p>10:30</p>
        <p>11:00</p>
        <p>11:30</p>
      </div>
      <div>
        <h3>PM</h3>
        <p>12:00</p>
        <p>12:30</p>
        <p>1:00</p>
        <p>1:30</p>
        <p>2:00</p>
        <p>2:30</p>
        <p>3:00</p>
        <p>3:30</p>
        <p>4:00</p>
        <p>4:30</p>
        <p>5:00</p>
        <p>5:30</p>
        <p>6:00</p>
      </div>
    </div>
    <!-- arrange this to be in bottom right with absolute -->
    <div class="modal-footer">
        <button class="btn btn-primary" (click)="modal.dismiss('click')">Save</button>
    </div>
  </form>  
</ng-template>
<div class="container">
  <h1>Your Availabilities</h1>
  <br>
  <div class="calendar">
    <div class="calendar-navs">
      <div class="month-nav row text-center mb-2">
        <button class="col" (click)="prevMonth()">&lt;</button>
        <span class="p4 col-10">{{ currentDate.format('MMMM YYYY') }}</span>
        <button class="col" (click)="nextMonth()">&gt;</button>
      </div>
    </div>
    <div class="month-grid">
      <div class="day-names row">
        <div *ngFor="let name of dayNames" class="day-name col py-2">
          {{ name }}
        </div>
      </div>
      <div class="weeks">
        <div *ngFor="let week of weeks" class="week row">
          <ng-container *ngFor="let day of week">
            <div class="week-date notMonth col text-center" *ngIf="!isSelectedMonth(day.mDate)" (click) = "open(day.mDate)">
              <span class="date-text">{{ day.mDate.date() }}</span>
            </div>
            <div class="week-date col text-center"
                *ngIf="isSelectedMonth(day.mDate)"
                (click) = "open(day.mDate)"
                [ngClass]="{ 'today': day.today, 'available':day.available }">
              <span class="date-text">{{ day.mDate.date() }}</span>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>