<h1>{{date}} Availability</h1>
<div class="hours am">
  <h4>AM</h4>
  <a (click)="addMeeting('6:00am')">6:00</a>
  <a (click)="addMeeting('6:30')">6:30</a>
  <a (click)="addMeeting('7:00')">7:00</a>
  <a (click)="addMeeting('7:30')">7:30</a>
  <a (click)="addMeeting('8:00')">8:00</a>
  <a (click)="addMeeting('8:30')">8:30</a>
  <a (click)="addMeeting('9:00')">9:00</a>
  <a (click)="addMeeting('9:30')">9:30</a>
  <a (click)="addMeeting('10:00')">10:00</a>
  <a (click)="addMeeting('10:30')">10:30</a>
  <a (click)="addMeeting('11:00')">11:00</a>
  <a (click)="addMeeting('11:30')">11:30</a>
</div>
<div class="hours pm">
  <h4>PM</h4>
  <a (click)="addMeeting('12:00')">12:00</a>
  <a (click)="addMeeting('12:30')">12:30</a>
  <a (click)="addMeeting('1:00')">1:00</a>
  <a (click)="addMeeting('1:30')">1:30</a>
  <a (click)="addMeeting('2:00')">2:00</a>
  <a (click)="addMeeting('2:30')">2:30</a>
  <a (click)="addMeeting('3:00')">3:00</a>
  <a (click)="addMeeting('3:30')">3:30</a>
  <a (click)="addMeeting('4:00')">4:00</a>
  <a (click)="addMeeting('4:30')">4:30</a>
  <a (click)="addMeeting('5:00')">5:00</a>
  <a (click)="addMeeting('5:30')">5:30</a>
  <a (click)="addMeeting('6:00pm')">6:00</a>
</div>