table {
    table-layout: fixed;
}
.not-past:hover {
    box-shadow: 0px 0px 10px #ccc;
    cursor: pointer;
}
.past .date-text{
    opacity: .5;
}
.date-text {
    width: 35px;
    height:35px;
    border-radius: 50%;
    line-height: 35px;
}
.available .date-text {
    color: #fff;
    border: 2px solid #fe6564;
    background: #fe6564;
    box-shadow: 0px 0px 5px #666;
}

.today {
    background: #cafaf2;
}
@media only screen and (max-width:576px){
    .date-text {
        width: 25px;
        height:25px;
        border-radius: 50%;
        line-height: 25px;
    }
}
